<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Balance Sheet Review Value Row</title>
</head>
    <body>
        <div th:fragment="balanceSheetValueRow" th:if="${currentAmount != null || previousAmount != null}" class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question" th:text="${description}" th:classappend="${isTotalRow == null && isBoldLegend == null} ? 'govuk-!-font-weight-regular' : ''"></dt>

            <dd th:attr="id=${identifier != null} ? 'review-' + ${identifier} + '-current-amount' : null" class="app-check-your-answers__answer">
                <span th:if ="${isEmployees == null}"  th:text="${currentAmount != null ? '£' + #numbers.formatInteger(currentAmount, 0, 'COMMA') : ''}" th:classappend="${isTotalRow} ? 'govuk-!-font-weight-bold' : ''"></span>
                <span th:unless ="${isEmployees == null}"  th:text="${currentAmount != null ? #numbers.formatInteger(currentAmount, 0, 'COMMA') : ''}"></span>
                <span class="mobile-only-label" th:text="*{'(' + balanceSheet.balanceSheetHeadings.currentPeriodHeading + ')'}"></span>
            </dd>


            <dd th:if="*{balanceSheet.balanceSheetHeadings.previousPeriodHeading != null}"
                th:attr="id=${identifier != null} ? 'review-' + ${identifier} + '-previous-amount' : null">

                <span th:if ="${isEmployees == null}"  th:text="${previousAmount != null ? '£' + #numbers.formatInteger(previousAmount, 0, 'COMMA') : ''}" th:classappend="${isTotalRow} ? 'govuk-!-font-weight-bold' : ''"></span>
                <span th:unless ="${isEmployees == null}"  th:text="${previousAmount != null ? #numbers.formatInteger(previousAmount, 0, 'COMMA') : ''}" th:classappend="${isTotalRow} ? 'govuk-!-font-weight-bold' : ''"></span>
                <span class="mobile-only-label" th:text="*{'(' + balanceSheet.balanceSheetHeadings.currentPeriodHeading + ')'}"></span>
            </dd>

            <dd class="app-check-your-answers__change"></dd>
        </div>
    </body>
</html>