<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layouts/baseLayout}">>
<head>
    <meta charset="UTF-8">
    <title id="page-title-heading">
        Related party transactions
    </title>
</head>
<body>
<div id="criteria-main-content" layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form id="correspondence-form" class="form" th:action="@{''}" method="post">
                <div th:replace="fragments/numberedHeading :: numberedHeading (
                  headingText = 'Related party transactions'
              )">
                </div>

                <span id="relatedPartyTransactions-help-text" class="govuk-hint">
                You can report up to 20 related party transactions.
            </span>

                <input id="save-and-continue-button" class="govuk-button piwik-event"
                       data-event-id="Related party transactions - save and continue"
                       th:name = "submit"
                       type="submit" role="button" value="Save and continue"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>