<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layouts/baseLayout}">>
<head>
    <meta charset="UTF-8">
    <title id="page-title-heading">
        Loans to directors
    </title>
</head>
<body>
<div id="loanToDirectors-main-content" class="two-column-accounts" layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div th:replace="fragments/numberedHeading :: numberedHeading (
                  headingText = 'Loans to directors'
              )">
            </div>

            <h2 id="loansToDirectors-subheading" class="govuk-heading-m">
                Enter the details for each individual loan to the director.
            </h2>

            <span id="loansToDirectors-help-text" class="govuk-hint">
                You can report more loans for the same director or other directors later if you need to. You can report up to 20 loans.
            </span>

            <table class="govuk-table" th:if="${addOrRemoveLoans.existingLoans != null and addOrRemoveLoans.existingLoans.length > 0}">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Name of director</th>
                        <th class="govuk-table__header" scope="col" th:text="'Balance at ' + ${#temporals.format(nextAccounts.periodEndOn, 'd MMMM yyyy')}"></th>
                        <th class="govuk-table__header" scope="col"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <th:block th:each="loan, stat : ${addOrRemoveLoans.existingLoans}">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row" style="border-bottom: 1px solid white" th:text="${loan.directorName}"></th>
                            <td class="govuk-table__cell" style="border-bottom: 1px solid white" th:text="${new java.text.DecimalFormat('£###,###;-£###,###').format(loan.breakdown.balanceAtPeriodEnd)}"></td>
                            <td class="govuk-table__cell" style="border-bottom: 1px solid white">
                                <form class="form" th:action="@{/company/{companyNumber}/transaction/{transactionId}/company-accounts/{companyAccountsId}/small-full/note/add-or-remove-loans/remove/{loanId}
                                      (companyNumber=${companyNumber},transactionId=${transactionId},companyAccountsId=${companyAccountsId},loanId=${loan.id})}" method="get">
                                    <div class="flex-container-center-align">
                                        <input id="remove-loan-button" class="button-display-as-link piwik-event"
                                               data-event-id="Loans to directors - remove loan"
                                               type="submit" role="button" value="Remove"/>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" colspan="3">
                                <details class="govuk-details" role="group" open="">
                                    <summary class="govuk-details__summary" role="button" aria-controls="loan-description-help-text" aria-expanded="false">
                                          <span id="loan-description-help-text-link left-indent" class="govuk-details__summary-text">
                                            Expand
                                          </span>
                                    </summary>
                                    <div class="review-reveal govuk-body" id="loan-description-help-text" style="margin-top: 20px" aria-hidden="true">
                                        <p>
                                            <span id="breakdown-description-header">
                                                Description of the loan
                                            </span>
                                        </p>
                                        <span style="white-space: pre" th:text="${loan.description}"></span>
                                        <div class="govuk-grid-row">
                                            <div class="govuk-grid-column-one-half govuk-body" id="currenySubtitle"></div>
                                            <div class="govuk-grid-column-one-half column-flex" style="text-align: right">
                                                <strong id="breakdownCurrency">
                                                    £
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="govuk-grid-row">
                                            <div class="govuk-grid-column-one-half govuk-body" id="breakdownPreviousBalanceAtSubtitle" th:text="'Balance at ' + ${#temporals.format(nextAccounts.periodStartOn, 'd MMM yyyy')}"></div>
                                            <div class="govuk-grid-column-one-half column-flex" style="text-align: right;">
                                                <span th:text="${loan.breakdown.balanceAtPeriodStart}"></span>
                                            </div>
                                        </div>
                                        <div class="govuk-grid-row">
                                            <div class="govuk-grid-column-one-half govuk-body" id="breakdownAdvancesCreditMadeSubTitle">Advances and credits made</div>
                                            <div class="govuk-grid-column-one-half column-flex" style="text-align: right;">
                                                <span th:text="${loan.breakdown.advancesCreditsMade}"></span>
                                            </div>
                                        </div>
                                        <div class="govuk-grid-row">
                                            <div class="govuk-grid-column-one-half govuk-body" id="breakdownAdvancesCreditRepaidSubTitle">Advances and credits repaid</div>
                                            <div class="govuk-grid-column-one-half column-flex" style="text-align: right;">
                                                <span th:text="${loan.breakdown.advancesCreditsRepaid}"></span>
                                            </div>
                                        </div>
                                        <div class="govuk-grid-row">
                                            <div class="govuk-grid-column-one-half govuk-body"><strong id="breakdownCurrentBalanceAtSubtitle" th:text="'Balance at ' + ${#temporals.format(nextAccounts.periodStartOn, 'd MMM yyyy')}"></strong></div>
                                            <div class="govuk-grid-column-one-half column-flex" style="text-align: right;">
                                                <strong th:text="${loan.breakdown.balanceAtPeriodEnd}"></strong>
                                            </div>
                                        </div>
                                    </div>
                                </details>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>

            <form id="data-submission-form" th:action="@{''}" class="form currency-included-within-inputs govuk-body" th:object="${addOrRemoveLoans}" method="post">

                <div th:each="loan, stat : ${addOrRemoveLoans.existingLoans}">
                    <input type="hidden" th:field="${addOrRemoveLoans.existingLoans[__${stat.index}__].directorName}"
                           th:id="existingLoans[__${stat.index}__].directorName"/>
                    <input type="hidden"
                           th:field="${addOrRemoveLoans.existingLoans[__${stat.index}__].breakdown.balanceAtPeriodEnd}"
                           th:id="existingLoans[__${stat.index}__].breakdown.balanceAtPeriodEnd"/>
                    <input type="hidden" th:field="${addOrRemoveLoans.existingLoans[__${stat.index}__].id}"
                           th:id="existingLoans[__${stat.index}__].id"/>
                </div>

                <div class="govuk-form-group govuk-form-group-block-important">
                      <div>
                            <label id="loan-director-name-label" class="govuk-label govuk-label--m"
                                   for="loanToAdd-name">
                              Description of the loan
                            </label>

                            <textarea class="govuk-textarea"
                                      id="loanToAdd-name"
                                      th:field="*{loanToAdd.directorName}"
                                      type="text" rows="1">
                            </textarea>
                      </div>
                      <div>
                          <label id="loan-director-description-label" class="govuk-label govuk-label--m"
                                 for="loanToAdd-description">
                              Description of the loan
                          </label>

                          <span id="description-help-text" class="govuk-hint">
                              A brief description of the loan, for example, an advance or loan for a car.
                          </span>

                          <textarea class="govuk-textarea"
                                    id="loanToAdd-description"
                                    th:field="*{loanToAdd.description}"
                                    type="text" rows="5">
                          </textarea>
                      </div>
                </div>

                <label id="loan-breakdown-label" class="govuk-label govuk-label--m"
                       for="loan-breakdown">
                    Breakdown of the loan
                </label>


                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half" id="breakdown-balance-at-period-subtitle"
                        th:text = "'Balance at ' + ${#temporals.format(nextAccounts.periodStartOn, 'd MMM yyyy')}" >
                    </div>

                    <div class="govuk-grid-column-one-quarter">
                        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'loanToAdd.breakdown.balanceAtPeriodStart',
                                class = 'govuk-input current current-fixed-assets-add',
                                )">
                        </div>
                    </div>
                </div>

                    <div class="govuk-grid-row column-flex">
                        <div class="govuk-grid-column-one-half" id="breakdown-advances-credits-made-subtitle">
                            Advances and credits made
                        </div>
                        <div class="govuk-grid-column-one-quarter column-flex">

                            <div  th:replace="fragments/numberInput :: numberInput (
                                      id = 'loanToAdd.breakdown.advancesCreditsMade',
                                      class= 'govuk-input',
                                      isEmployees = true,
                                      )">
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-row column-flex">
                        <div class="govuk-grid-column-one-half" id="breakdown-advances-credits-repaid-subtitle">
                            Advances and credits repaid
                        </div>
                        <div class="govuk-grid-column-one-quarter column-flex">
                            <div th:replace="fragments/numberInput :: numberInput (
                                      id = 'loanToAdd.breakdown.advancesCreditsRepaid',
                                      class= 'govuk-input',
                                      isEmployees = true,
                                      )">
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-row column-flex">

                        <div class="govuk-grid-column-one-half" id="breakdown-balance-at-period-end-subtitle"
                             th:text = "'Balance at ' + ${#temporals.format(nextAccounts.periodStartOn, 'd MMM yyyy')}" >
                        </div>
                        <div class="govuk-grid-column-one-quarter column-flex">
                            <div th:replace="fragments/numberInput :: numberInput (
                                      id = 'loanToAdd.breakdown.balanceAtPeriodEnd',
                                      class= 'govuk-input',
                                      isEmployees = true,
                                      )">
                            </div>
                        </div>
                    </div>

                <div class="govuk-form-group">
			        <input id="save-and-continue-button" class="govuk-button piwik-event"
            			   data-event-id="Loans to directors - save and continue"
              				th:name="submit"
               				type="submit" role="button" value="Save and continue"/>
                    <input id="add-loan-button" class="loan-button secondary-button piwik-event"
                           th:name="add"
                           data-event-id="Loans to directors - add loan"
                           role="button" type="submit" value="Add loan"/>
                </div>

        </form>
    </div>
</div>
</div>
</body>
</html>