<!DOCTYPE html>

<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layouts/baseLayout}">

<head>
    <title id="page-title-heading">
        Directors' report
    </title>
</head>
<div id="directorsReport-main-content" layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form th:object="${addOrRemoveDirectors}">
                <div th:replace="fragments/globalErrors :: globalErrors"></div>
            </form>

            <div th:replace="fragments/numberedHeading :: numberedHeading (
                  headingText = 'Directors\' report'
              )">
            </div>

            <h2 id="directorsReport-subheading" class="govuk-heading-m">
                Enter the name(s) of the directors who served in the accounting period you're filing for
            </h2>

            <span id="directorsReport-help-text" class="govuk-hint">
                This includes directors who were appointed or resigned during the accounting period. You can add up to 20 directors.
            </span>

            <dl class="app-check-your-answers app-check-your-answers--short two-column-accounts"
                th:if="${addOrRemoveDirectors.existingDirectors != null and addOrRemoveDirectors.existingDirectors.length > 0}">

                <div class="app-check-your-answers__contents cya-desktop-only">
                    <dt class="app-check-your-answers__answer govuk-heading-s" id="directors-table-name-heading">Directors' name</dt>
                    <dd class="app-check-your-answers__answer govuk-heading-s govuk-!-font-weight-bold" id="directors-table-appointed-heading">Appointed</dd>
                    <dd class="app-check-your-answers__answer govuk-heading-s govuk-!-font-weight-bold" id="directors-table-resigned-heading">Resigned</dd>
                    <dd class="app-check-your-answers__change"></dd>
                </div>

                <div th:each="director, stat : ${addOrRemoveDirectors.existingDirectors}"
                     class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question" th:text="${director.name}" th:id="directors-table-name[__${stat.index}__]"></dt>
                    <dd class="app-check-your-answers__answer">
                        <span class="mobile-only-label">Appointed: </span>
                        <span th:text="${#temporals.format(director.appointmentDate, 'd MMM yyyy')}" th:id="directors-table-appointed[__${stat.index}__]"></span>
                    </dd>
                    <dd class="app-check-your-answers__answer">
                        <span class="mobile-only-label">Resigned: </span>
                        <span th:text="${#temporals.format(director.resignationDate, 'd MMM yyyy')}" th:id="directors-table-resigned[__${stat.index}__]"></span>
                    </dd>
                    <dd class="app-check-your-answers__change">
                        <form class="form"
                              th:action="@{/company/{companyNumber}/transaction/{transactionId}/company-accounts/{companyAccountsId}/small-full/add-or-remove-directors/remove/{directorId}
                                (companyNumber=${companyNumber},transactionId=${transactionId},companyAccountsId=${companyAccountsId},directorId=${director.id})}"
                              method="get">
                            <div class="flex-container-center-align">
                                <input id="remove-director-button" class="button-display-as-link piwik-event"
                                       data-event-id="Directors report - remove director"
                                       type="submit" role="button" value="Remove"/>
                            </div>
                        </form>
                    </dd>
                </div>
            </dl>

            <form id="data-submission-form" th:action="@{''}" class="form" th:object="${addOrRemoveDirectors}" method="post">

                <div th:each="director, stat : ${addOrRemoveDirectors.existingDirectors}">
                    <input type="hidden" th:field="${addOrRemoveDirectors.existingDirectors[__${stat.index}__].name}" th:id="existingDirectors[__${stat.index}__].name"/>
                    <input type="hidden" th:field="${addOrRemoveDirectors.existingDirectors[__${stat.index}__].appointmentDate}" th:id="existingDirectors[__${stat.index}__].appointmentDate"/>
                    <input type="hidden" th:field="${addOrRemoveDirectors.existingDirectors[__${stat.index}__].resignationDate}" th:id="existingDirectors[__${stat.index}__].resignationDate"/>
                    <input type="hidden" th:field="${addOrRemoveDirectors.existingDirectors[__${stat.index}__].id}" th:id="existingDirectors[__${stat.index}__].id"/>
                </div>

                <th:block th:if="${addOrRemoveDirectors.existingDirectors == null or addOrRemoveDirectors.existingDirectors.length < 20}">

                    <div class="govuk-form-group"
                         th:classappend="${#fields.hasErrors('directorToAdd.name')} ? 'govuk-form-group--error' : ''">
                        <label id="appointment-director-heading" class="govuk-label govuk-label--m"
                               for="directorToAdd-name">
                            Director's name
                        </label>

                        <span class="govuk-error-message"
                              id="directorToAdd.name-errorId"
                              th:if="${#fields.hasErrors('directorToAdd.name')}"
                              th:each="e : ${#fields.errors('directorToAdd.name')}" th:text="${e}">
                        </span>

                        <input class="govuk-input"
                               id="directorToAdd-name"
                               th:field="*{directorToAdd.name}"
                               th:errorclass="govuk-input--error"
                               type="text">
                    </div>

                    <div class="govuk-form-group"
                         th:classappend="${#fields.hasErrors('directorToAdd.wasDirectorAppointedDuringPeriod')} ? 'govuk-form-group--error' : ''">
                        <div th:replace="fragments/inlineYesNoRadioButtonsWithDate :: inlineYesNoRadioButtonsWithDate (
                          legendText = 'Was the director appointed during the accounting period?',
                          boxLabelTextJavaScriptOn = '​Enter the date the director was appointed',
                          boxLabelTextJavaScriptOff = 'If yes, ​Enter the date the director was appointed For example, 12 02 2019',
                          radioButtonsFieldName = 'directorToAdd.wasDirectorAppointedDuringPeriod',
                          textBoxFieldName = 'directorToAdd.appointmentDate',
                          dataTargetTextFieldName = 'directors-report-appointment-text-date',
                          identifier = appointment-date
                          )">
                        </div>
                    </div>

                    <div class="govuk-form-group"
                         th:classappend="${#fields.hasErrors('directorToAdd.didDirectorResignDuringPeriod')} ? 'govuk-form-group--error' : ''">
                        <div th:replace="fragments/inlineYesNoRadioButtonsWithDate :: inlineYesNoRadioButtonsWithDate (
                          legendText = 'Did the director resign during the accounting period?',
                          boxLabelTextJavaScriptOn = '​Enter the date the director resigned',
                          boxLabelTextJavaScriptOff = 'If yes, ​Enter the date the director resigned For example, 12 02 2019',
                          radioButtonsFieldName = 'directorToAdd.didDirectorResignDuringPeriod',
                          textBoxFieldName = 'directorToAdd.resignationDate',
                          dataTargetTextFieldName = 'directors-report-resign-text-date',
                          identifier = resignation-date
                          )">
                        </div>
                    </div>

                    <div class="govuk-form-group">
                        <input id="add-director-button" class="secondary-button piwik-event"
                                th:name= "add"
                                data-event-id="Directors report - add director" type="submit" value="Add director"/>
                    </div>

                </th:block>

                <h2 id="directorsReport-secretary-subheading" class="govuk-heading-m">
                  Enter the name of the company secretary (optional)
                </h2>

                <input class="govuk-input"
                       id="secretary-name"
                       th:field="*{secretary}"
                       th:errorclass="govuk-input--error"
                       type="text">

                <div>&nbsp</div>

                <input id="save-and-continue-button" class="govuk-button piwik-event"
                        data-event-id="Directors report - save and continue"
                        th:name = "submit"
                        type="submit" role="button" value="Save and continue"/>
            </form>
        </div>
    </div>
</div>
</html>