<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layouts/baseLayout}">>
<head>
    <meta charset="UTF-8">
    <title id="page-title-heading">
        Related party transactions
    </title>
</head>
<body>
<div id="main-content" class="two-column-accounts" layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <table id="rptTransactions-table" class="govuk-table"
                   th:if="${addOrRemoveTransactions.existingRptTransactions != null and addOrRemoveTransactions.existingRptTransactions.length > 0}">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th id="rptTransactions-table-related-party-name-heading"
                        class="govuk-table__header"
                        scope="col">
                        Name of related party
                    </th>
                    <th id="rptTransactions-table-balance-at-period-end-heading"
                        class="govuk-table__header"
                        scope="col"
                        th:text="'Balance at ' + ${#temporals.format(addOrRemoveTransactions.nextAccount.periodEndOn, 'd MMMM yyyy')}">
                    </th>
                    <th class="govuk-table__header" scope="col"></th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <th:block th:each="transaction, stat : ${addOrRemoveTransactions.existingRptTransactions}">
                    <tr class="govuk-table__row">
                        <th th:id="rptTransactions-table-related-party-name[__${stat.index}__]"
                            class="govuk-table__header--summary"
                            scope="row"
                            th:text="${transaction.nameOfRelatedParty}">
                        </th>
                        <td th:id="rptTransactions-table-balance-at-period-end[__${stat.index}__]"
                            class="govuk-table__cell--summary"
                            th:text="${new java.text.DecimalFormat('£###,###;-£###,###').format(transaction.breakdown.balanceAtPeriodEnd)}">
                        </td>
                        <td class="govuk-table__cell--summary">
                            <form class="form" th:action="@{/company/{companyNumber}/transaction/{transactionId}/company-accounts/{companyAccountsId}/small-full/note/add-or-remove-transactions/remove/{rptTransactionId}
                                      (companyNumber=${companyNumber},transactionId=${transactionId},companyAccountsId=${companyAccountsId},rptTransactionId=${transaction.id})}"
                                  method="get">
                                <div class="flex-container-center-align">
                                    <input th:id="rptTransactions-table-remove[__${stat.index}__]"
                                           class="button-display-as-link piwik-event"
                                           data-event-id="Related party transactions - remove transaction"
                                           type="submit" role="button" value="Remove"/>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" colspan="3">
                            <details class="govuk-details" role="group">
                                <summary class="govuk-details__summary" role="button"
                                         th:aria-controls="rptTransactions-table-breakdown[__${stat.index}__]">
                                          <span th:id="rptTransactions-table-breakdown-expand[__${stat.index}__]"
                                                class="govuk-details__summary-text">
                                            Expand
                                          </span>
                                </summary>
                                <div class="review-reveal govuk-body govuk-!-margin-top-4"
                                     th:id="rptTransactions-table-breakdown[__${stat.index}__]" aria-hidden="true">
                                    <p>
                                        <div th:id="rptTransactions-table-breakdown-transaction-type-header[__${stat.index}__]">
                                            Transaction type
                                        </div>
                                        <br>
                                        <div th:id="rptTransactions-table-breakdown-transaction-type[__${stat.index}__]"
                                              th:text="${transaction.transactionType}">
                                    </div>
                                    </p>

                                    <p>
                                        <div th:id="rptTransactions-table-breakdown-relationship-to-company-header[__${stat.index}__]">
                                            Relationship to company
                                        </div>
                                        <br>
                                        <div th:id="rptTransactions-table-breakdown-relationship-to-company[__${stat.index}__]"
                                              th:text="${transaction.relationship}">
                                        </div>
                                    </p>

                                    <p>
                                        <div th:id="rptTransactions-table-breakdown-description-header[__${stat.index}__]">
                                            Description of the transaction
                                        </div>
                                        <br>
                                        <div th:id="rptTransactions-table-breakdown-description[__${stat.index}__]"
                                              th:text="${transaction.descriptionOfTransaction}">
                                        </div>
                                    </p>

                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half govuk-body"></div>
                                        <div class="govuk-grid-column-one-half column-flex govuk-summary__align--right cya-desktop-only">
                                            <strong th:id="rptTransactions-table-breakdown-currency[__${stat.index}__]">
                                                £
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half govuk-body cya-desktop-only"
                                             th:id="rptTransactions-table-breakdown-balance-at-period-start-heading[__${stat.index}__]"
                                             th:text="'Balance at ' + ${#temporals.format(addOrRemoveTransactions.nextAccount.periodStartOn, 'd MMMM yyyy')}">
                                        </div>
                                        <div class="mobile-only-label column-fifth">
                                                <div th:id="rptTransactions-table-breakdown-balance-at-period-start-mobile-heading[__${stat.index}__]"
                                                      th:text="'Balance at ' + ${#temporals.format(addOrRemoveTransactions.nextAccount.periodStartOn, 'd MMMM yyyy')} + ' in £'"></div>
                                        </div>
                                        <div class="govuk-grid-column-one-half column-flex govuk-summary__align--right">
                                                <div th:id="rptTransactions-table-breakdown-balance-at-period-start[__${stat.index}__]"
                                                      th:text="${transaction.breakdown.balanceAtPeriodStart}">
                                                </div>
                                        </div>
                                    </div>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half govuk-body cya-desktop-only">
                                            <strong th:id="rptTransactions-table-breakdown-balance-at-period-end-heading[__${stat.index}__]"
                                                    th:text="'Balance at ' + ${#temporals.format(addOrRemoveTransactions.nextAccount.periodEndOn, 'd MMMM yyyy')}">
                                            </strong>
                                        </div>
                                        <div class="mobile-only-label column-fifth">
                                            <strong th:id="rptTransactions-table-breakdown-balance-at-period-end-mobile-heading[__${stat.index}__]"
                                                    th:text="'Balance at ' + ${#temporals.format(addOrRemoveTransactions.nextAccount.periodEndOn, 'd MMMM yyyy')} + ' in £'"></strong>
                                        </div>
                                        <div class="govuk-grid-column-one-half column-flex govuk-summary__align--right">
                                            <strong th:id="rptTransactions-table-breakdown-balance-at-period-end[__${stat.index}__]"
                                                    th:text="${transaction.breakdown.balanceAtPeriodEnd}">
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </details>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

            <form th:object="${addOrRemoveTransactions}" id="data-submission-form"
                  class="form currency-included-within-inputs govuk-body" th:action="@{''}" method="post">
                <div th:replace="fragments/numberedHeading :: numberedHeading (
                  headingText = 'Related party transactions')">
                </div>

                <div th:replace="fragments/globalErrors :: globalErrors"></div>

                <!--Hidden fields for form binding-->
                <input th:field="*{nextAccount.periodStartOn}" type="hidden">
                <input th:field="*{nextAccount.periodEndOn}" type="hidden">

                <div th:each="transaction, stat : ${addOrRemoveTransactions.existingRptTransactions}">
                    <input type="hidden" th:field="*{existingRptTransactions[__${stat.index}__].nameOfRelatedParty}"
                           th:id="existingRptTransactions[__${stat.index}__].nameOfRelatedParty"/>
                    <input type="hidden"
                           th:field="*{existingRptTransactions[__${stat.index}__].breakdown.balanceAtPeriodEnd}"
                           th:id="existingRptTransactions[__${stat.index}__].breakdown.balanceAtPeriodEnd"/>
                    <input type="hidden"
                           th:field="*{existingRptTransactions[__${stat.index}__].breakdown.balanceAtPeriodStart}"
                           th:id="existingRptTransactions[__${stat.index}__].breakdown.balanceAtPeriodStart"/>
                    <input type="hidden"
                           th:field="*{existingRptTransactions[__${stat.index}__].descriptionOfTransaction}"
                           th:id="existingRptTransactions[__${stat.index}__].descriptionOfTransaction"/>
                    <input type="hidden"
                           th:field="*{existingRptTransactions[__${stat.index}__].transactionType}"
                           th:id="existingRptTransactions[__${stat.index}__].transactionType"/>
                    <input type="hidden"
                           th:field="*{existingRptTransactions[__${stat.index}__].relationship}"
                           th:id="existingRptTransactions[__${stat.index}__].relationship"/>
                    <input type="hidden" th:field="*{existingRptTransactions[__${stat.index}__].id}"
                           th:id="existingRptTransactions[__${stat.index}__].id"/>
                </div>

                <span id="relatedPartyTransactions-help-text" class="govuk-hint">
                You can report up to 20 related party transactions.
                </span>

                <div class="govuk-form-group govuk-form-group-block-important"
                     th:classappend="*{#fields.hasErrors('rptTransactionToAdd')} ? 'govuk-form-group--error govuk-!-margin-bottom-4' : ''">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 id="transaction-type-title-heading" class="govuk-heading-m govuk-!-margin-bottom-0">
                                    What sort of transaction was this</h1>
                            </legend>

                            <div class="govuk-radios" data-module="radios" th:classappend="*{#fields.hasErrors('rptTransactionToAdd.transactionType')} ? 'govuk-form-group--error govuk-!-margin-bottom-4' : ''">

                                 <span class="govuk-error-message"
                                       id="rptTransactionToAdd.transactionType-errorId"
                                       th:if="${#fields.hasErrors('rptTransactionToAdd.transactionType')}"
                                       th:each="e : ${#fields.errors('rptTransactionToAdd.transactionType')}"
                                       th:text="${e}">
                            </span>


                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input piwik-event"
                                           id="transactionTypeCompanyByRelatedParty"
                                           th:field="*{rptTransactionToAdd.transactionType}" type="radio"
                                           value="Money given to the company by a related party"
                                           data-event-id="money-given-by-a-related-party">
                                    <label class="govuk-label govuk-radios__label"
                                           id="transactionTypeCompanyByRelatedParty-label"
                                           for="transactionTypeCompanyByRelatedParty">
                                        Money given to the company by a related party
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input piwik-event"
                                           id="transactionTypeRelatedPartyByCompany"
                                           th:field="*{rptTransactionToAdd.transactionType}" type="radio"
                                           value="Money given to a related party by the company"
                                           data-event-id="money-given-to-a-related-party">
                                    <label class="govuk-label govuk-radios__label"
                                           id="transactionTypeRelatedPartyByCompany-label"
                                           for="transactionTypeRelatedPartyByCompany">
                                        Money given to a related party by the company
                                    </label>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="govuk-!-margin-top-8" th:classappend="*{#fields.hasErrors('rptTransactionToAdd.nameOfRelatedParty')} ? 'govuk-form-group--error govuk-!-margin-bottom-4' : ''">
                            <span class="govuk-error-message"
                                  id="rptTransactionToAdd-errorId"
                                  th:if="*{#fields.hasErrors('rptTransactionToAdd')}"
                                  th:each="e : *{#fields.errors('rptTransactionToAdd')}" th:text="${e}">
                    </span>

                        <span class="govuk-error-message"
                              id="rptTransactionToAdd.nameOfRelatedParty-errorId"
                              th:if="*{#fields.hasErrors('rptTransactionToAdd.nameOfRelatedParty')}"
                              th:each="e : *{#fields.errors('rptTransactionToAdd.nameOfRelatedParty')}" th:text="${e}">
                    </span>
                        <label id="rptTransactionToAdd-name-of-related-party-label"
                               class="govuk-label govuk-label--m"
                               for="rptTransactionToAdd-name-of-related-party">
                            Name of related party (optional)
                        </label>
                        <textarea class="govuk-textarea"
                                  id="rptTransactionToAdd-name-of-related-party"
                                  th:field="*{rptTransactionToAdd.nameOfRelatedParty}"
                                  type="text" rows="1">
                            </textarea>
                    </div>

                    <div th:classappend="*{#fields.hasErrors('rptTransactionToAdd.relationship')} ? 'govuk-form-group--error govuk-!-margin-bottom-4' : ''">

                                 <span class="govuk-error-message"
                                       id="rptTransactionToAdd.relationship-errorId"
                                       th:if="${#fields.hasErrors('rptTransactionToAdd.relationship')}"
                                       th:each="e : ${#fields.errors('rptTransactionToAdd.relationship')}"
                                       th:text="${e}">
                            </span>

                        <label id="rptTransactionToAdd-relationship-to-the-company-label"
                               class="govuk-label govuk-label--m"
                               for="rptTransactionToAdd-relationship-to-the-company">
                            Relationship to the company
                        </label>
                        <textarea class="govuk-textarea"
                                  id="rptTransactionToAdd-relationship-to-the-company"
                                  th:field="*{rptTransactionToAdd.relationship}"
                                  type="text" rows="1">
                            </textarea>
                    </div>

                    <div>
                        <label id="rptTransactionToAdd-description-of-transaction-label"
                               class="govuk-label govuk-label--m"
                               for="rptTransactionToAdd-description-of-transaction">
                            Description of the transaction
                        </label>

                        <span id="rptTransactionToAdd-description-help-text" class="govuk-hint">
                              Enter a brief description of the transaction. for example, "The transaction was the loan of an asset".
                        </span>

                        <textarea class="govuk-textarea"
                                  id="rptTransactionToAdd-description-of-transaction"
                                  th:field="*{rptTransactionToAdd.descriptionOfTransaction}"
                                  type="text" rows="5">
                                 </textarea>
                    </div>

                    <label id="rptTransactionToAdd-breakdown-label" class="govuk-label govuk-label--m">
                        Breakdown of the transaction
                    </label>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">&nbsp;</div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half"
                             id="rptTransactionToAdd-breakdown-balance-at-period-heading"
                             th:text="'Balance at ' + *{#temporals.format(nextAccount.periodStartOn, 'd MMMM yyyy')}">
                        </div>

                        <div class="govuk-grid-column-one-half govuk-!-display-block">
                            <div th:replace="fragments/numberInput :: numberInput (
                                    id = 'rptTransactionToAdd.breakdown.balanceAtPeriodStart',
                                    text = 'Balance at ' + ${#temporals.format(addOrRemoveTransactions.nextAccount.periodStartOn, 'd MMMM yyyy')} + ' in £',
                                    class = 'govuk-input',
                                    )">
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half"
                             id="rptTransactionToAdd-breakdown-balance-at-period-end-heading"
                             th:text="'Balance at ' + *{#temporals.format(nextAccount.periodEndOn, 'd MMMM yyyy')}">
                        </div>
                        <div class="govuk-grid-column-one-half column-flex govuk-!-display-block">
                            <div th:replace="fragments/numberInput :: numberInput (
                                      id = 'rptTransactionToAdd.breakdown.balanceAtPeriodEnd',
                                      text = 'Balance at ' + *{#temporals.format(nextAccount.periodEndOn, 'd MMMM yyyy')} + ' in £',
                                      class= 'govuk-input',
                                      )">
                            </div>
                        </div>
                    </div>
                </div>


                <div>&nbsp</div>

                
                    <input id="save-and-continue-button" class="govuk-button piwik-event"
                           data-event-id="Related party transactions - save and continue"
                           th:name="submit"
                           type="submit" role="button" value="Save and continue"/>
                    <input id="add-transaction-button" class="govuk-button govuk-button-grey piwik-event"
                           th:name="add"
                           data-event-id="Related party transaction - add transaction"
                           role="button" type="submit" value="Add another related party transaction"/>
                
            </form>
        </div>
    </div>
</div>
</body>
</html>