<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>Alternative Filing Options</title>
</head>
<body>
<div id="main-content" layout:fragment="content">
    <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <header>
                    <h1 id="page-header" class="govuk-heading-l">You can use software to file</h1>
                </header>

                <p class="govuk-body">The only other way you can file accounts online with Companies House is using software.</p>

                <p>
                    <a href="https://www.gov.uk/file-your-company-accounts-and-tax-return">
                        Find software for filing company accounts.
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
