<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
  <title>Approval</title>
</head>
<body>
<div id="approval-main-content" layout:fragment="content">

  <form id="approval-form" th:action="@{''}" th:object="${approval}" class="form" method="post">

    <div th:replace="fragments/globalErrors :: globalErrors"></div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <fieldset class="govuk-fieldset">

          <legend id="page-title" class="govuk-fieldset__legend govuk-fieldset__legend--l">
            Approve your accounts
          </legend>

          <div class="govuk-form-group" th:classappend="${#fields.hasErrors('directorName')} ? 'govuk-form-group--error' : ''">
            <label id="approval-director-heading" class="govuk-label govuk-label--m" for="approval-director">
              Which director approved the accounts?
            </label>


            <th:block th:if="*{approverOptions != null and approverOptions.size() >= 1}">

              <span class="govuk-error-message"
                    id="directorName-errorId"
                    th:if="${#fields.hasErrors('directorName')}"
                    th:each="e : ${#fields.errors('directorName')}" th:text="${e}">
              </span>

              <div th:each="approver, stat : *{approverOptions}" class="govuk-radios__item" id="approver-options">
                <input class="govuk-radios__input"
                       th:id="${stat.index}"
                       type="radio"
                       th:value="${approver}"
                       th:field="*{directorName}"/>

                <label class="govuk-label govuk-radios__label"
                       th:for="${stat.index}"
                       th:id="${stat.index + '-label'}"
                       th:text="${approver}"></label>
              </div>

              <div th:each="approver, stat : *{approverOptions}">
                <input type="hidden" th:field="*{approverOptions[__${stat.index}__]}" th:id="approverOptions[__${stat.index}__]"/>
              </div>
              
            </th:block>

            <th:block th:if="*{approverOptions == null or approverOptions.size() == 0}">
              <span class="govuk-error-message"
                  id="directorName-errorId"
                  th:if="${#fields.hasErrors('directorName')}"
                  th:each="e : ${#fields.errors('directorName')}" th:text="${e}">
              </span>

              <input class="govuk-input"
                   id="approval-director"
                   th:field="*{directorName}"
                   th:errorclass="govuk-input--error"
                   type="text">
            </th:block>
          </div>


          <div class="govuk-form-group" th:classappend="${#fields.hasErrors('date')} ? 'govuk-form-group--error' : ''">
            <fieldset class="govuk-fieldset" aria-describedby="approval-date-hint" role="group">

              <legend id="approval-date-heading" class="govuk-fieldset__legend govuk-fieldset__legend--m">
                When were the accounts approved?
              </legend>

              <span id="approval-date-hint" class="govuk-hint">
                  <p class="govuk-hint">This is the date the accounts were approved by the director.<br>
                    For example, 31 3 2017</p>
              </span>

              <span class="govuk-error-message"
                    id="date-errorId"
                    th:if="${#fields.hasErrors('date')}"
                    th:each="e : ${#fields.errors('date')}" th:text="${e}">
              </span>

              <div class="govuk-date-input" id="approval-date">

                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="approval-date-day">
                      Day
                    </label>

                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                           th:classappend="${#fields.hasErrors('date')} ? govuk-input--error : ''"
                           id="approval-date-day"
                           th:field="*{date.day}"
                           type="text">
                  </div>
                </div>

                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="approval-date-month">
                      Month
                    </label>

                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                           th:classappend="${#fields.hasErrors('date')} ? govuk-input--error : ''"
                           id="approval-date-month"
                           th:field="*{date.month}"
                           type="text">
                  </div>
                </div>

                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="approval-date-year">
                      Year
                    </label>

                    <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                           th:classappend="${#fields.hasErrors('date')} ? govuk-input--error : ''"
                           id="approval-date-year"
                           th:field="*{date.year}"
                           type="text">
                  </div>
                </div>

              </div>
            </fieldset>

            <div class="govuk-inset-text onlyJS">
              <div id="widget">
                <a class="render-accounts-document PDF print piwik-event" data-event-id="save or print" href="#"> Save or print a copy of your accounts
                  <span class="govuk-visually-hidden">(Opens in new tab/window)</span>
                </a>
                <span class="govuk-hint"> (Opens in new tab/window) </span>
                <div id="status-widget" class="widget-footer hidden">
                  <div id="status">
                    <div id="process-spinner" class="process-spinner"></div>
                    <span id="process-status" class="process-status">Status: in-progress</span>
                  </div>
                  <input type="hidden" id="document-data"
                         th:data-resource-url="'/transactions/' + ${transaction_id} + '/company-accounts/' + ${company_accounts_id}"
                         data-content-type="text/html" data-document-type="text/html">
                  </input>
                </div>
              </div>
            </div>
            <div id="download-button"></div>

          </div>

        </fieldset>

        <input type="hidden" th:field="*{isPayableTransaction}"/>
        <input id="next-button" class="govuk-button piwik-event" data-event-id="Approval - Save and continue" type="submit" role="button" th:value="${isPayableTransaction ? 'Save and continue to payment' : 'Submit your accounts'}"/>

      </div>
    </div>
    <script th:src="@{{cdnUrl}/javascripts/app/accounts-pdf.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
  </form>

</div>
</body>
</html>