<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

    <head>
        <title>Balance Sheet</title>
    </head>

        <div id="balanceSheet-main-content" layout:fragment="content" class="two-column-accounts">

            <form id="balanceSheet-form" th:action="@{''}" th:object="${balanceSheet}" class="form currency-included-within-inputs govuk-body" method="post">

                <div th:replace="fragments/globalErrors :: globalErrors"></div>

                <div th:replace="fragments/numberedHeading :: numberedHeading (
                    headingText = 'Balance sheet'
                )">
                </div>

                <div class="left-indent">
                    <div class="panel panel-border-wide">
                        <p id="balanceSheet-help-text" class="warning-note warning-note-large">You only need to enter items included in your prepared accounts.</p>
                    </div>

                    <div class="govuk-grid-row" id="accounts-header">
                        <div class="govuk-grid-column-one-half">
                            &nbsp;
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <h2 class="govuk-heading-s">
                                <span id="currentPeriodHeading" th:text='*{balanceSheetHeadings.currentPeriodHeading}'></span>
                                <!-- Hidden input for form binding -->
                                <input th:field="*{balanceSheetHeadings.currentPeriodHeading}" type="hidden">
                            </h2>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <h2 class="govuk-heading-s">
                                <span id="previousPeriodHeading" th:text='*{balanceSheetHeadings.previousPeriodHeading}'></span>
                                <!-- Hidden input for form binding -->
                                <input th:field="*{balanceSheetHeadings.previousPeriodHeading}" type="hidden">
                            </h2>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'calledUpShareCapitalNotPaid.currentAmount',
                        previousField = 'calledUpShareCapitalNotPaid.previousAmount'
                        )">
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            Called up share capital not paid
                            <span class="govuk-hint">
                                This should not be confused with ‘Called up share capital', which can be found under 'Capital and reserves' at the end of this Balance sheet
                            </span>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'calledUpShareCapitalNotPaid.currentAmount',
                                text = 'Called up share capital not paid current',
                                class= 'govuk-input current',
                                )">
                            </div>
                        </div>
                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'calledUpShareCapitalNotPaid.previousAmount',
                                text = 'Called up share capital not paid previous',
                                class= 'govuk-input previous',
                                )">
                            </div>
                        </div>

                    </div>

                    <!-- Start Fixed Assets -->

                    <h2 class="govuk-heading-m">Fixed assets</h2>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'fixedAssets.tangibleAssets.currentAmount',
                        previousField = 'fixedAssets.tangibleAssets.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            Tangible assets
                        </div>

                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'fixedAssets.tangibleAssets.currentAmount',
                                text = 'Tangible assets current',
                                class = 'govuk-input current current-fixed-assets-add',
                                )">
                            </div>
                        </div>
                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'fixedAssets.tangibleAssets.previousAmount',
                                text = 'Tangible assets previous',
                                class= 'govuk-input previous previous-fixed-assets-add',
                                )">
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'fixedAssets.currentTotal',
                        previousField = 'fixedAssets.previousTotal'
                        )">
                    </div>

                    <div class="govuk-grid-row accounts-total">
                        <div class="govuk-grid-column-one-half">
                            <strong>Total fixed assets</strong>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'fixedAssets.currentTotal',
                                text = 'Total fixed assets current',
                                class= 'govuk-input current-fixed-assets-total current-assets-less-current-liabilities-add'
                                )">
                            </div>
                        </div>
                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'fixedAssets.previousTotal',
                                text = 'Total fixed assets previous',
                                class= 'govuk-input previous-fixed-assets-total previous-assets-less-current-liabilities-add',
                                )">
                            </div>
                        </div>
                    </div>

                    <!-- End Fixed Assets -->

                    <!-- Start Current Assets -->

                    <h2 class="govuk-heading-m">Current assets</h2>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'currentAssets.stocks.currentAmount',
                        previousField = 'currentAssets.stocks.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            Stocks
                        </div>

                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                 id = 'currentAssets.stocks.currentAmount',
                                 text = 'Stocks current',
                                 class = 'govuk-input current current-current-assets-add',
                                 )">
                            </div>
                        </div>

                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                 id = 'currentAssets.stocks.previousAmount',
                                 text = 'Stocks previous',
                                 class= 'govuk-input previous previous-current-assets-add',
                                 )">
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'currentAssets.debtors.currentAmount',
                        previousField = 'currentAssets.debtors.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            Debtors
                        </div>

                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                 id = 'currentAssets.debtors.currentAmount',
                                 text = 'Debtors current',
                                 class = 'govuk-input current current-current-assets-add',
                                 )">
                            </div>
                        </div>

                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                 id = 'currentAssets.debtors.previousAmount',
                                 text = 'Debtors previous',
                                 class= 'govuk-input previous previous-current-assets-add',
                                 )">
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'currentAssets.cashAtBankAndInHand.currentAmount',
                        previousField = 'currentAssets.cashAtBankAndInHand.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            Cash at bank and in hand
                        </div>

                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                 id = 'currentAssets.cashAtBankAndInHand.currentAmount',
                                 text = 'Cash at bank and in hand current',
                                 class = 'govuk-input current current-current-assets-add',
                                 )">
                            </div>
                        </div>

                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                 id = 'currentAssets.cashAtBankAndInHand.previousAmount',
                                 text = 'Cash at bank and in hand previous',
                                 class= 'govuk-input previous previous-current-assets-add',
                                 )">
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'currentAssets.currentTotal',
                        previousField = 'currentAssets.previousTotal'
                        )">
                    </div>

                    <div class="govuk-grid-row accounts-total">
                        <div class="govuk-grid-column-one-half">
                            <strong>Total current assets</strong>
                        </div>

                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'currentAssets.currentTotal',
                                text = 'Total current assets current',
                                class= 'govuk-input current-current-assets-total current-net-assets-add'
                                )">
                            </div>
                        </div>
                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                 id = 'currentAssets.previousTotal',
                                 text = 'Total current assets previous',
                                 class= 'govuk-input previous-current-assets-total previous-net-assets-add'
                                 )">
                            </div>
                        </div>
                    </div>

                    <!-- End Current Assets -->

                    <!-- Start Other Libabilities and Assets -->

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'otherLiabilitiesOrAssets.prepaymentsAndAccruedIncome.currentAmount',
                        previousField = 'otherLiabilitiesOrAssets.prepaymentsAndAccruedIncome.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            Prepayments and accrued income
                        </div>

                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherLiabilitiesOrAssets.prepaymentsAndAccruedIncome.currentAmount',
                                text = 'Prepayments and accrued income current',
                                class = 'govuk-input current current-net-assets-add'
                                )">
                            </div>
                        </div>
                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                   id = 'otherLiabilitiesOrAssets.prepaymentsAndAccruedIncome.previousAmount',
                                   text = 'Prepayments and accrued income previous',
                                   class= 'govuk-input previous previous-net-assets-add'
                                   )">
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'otherLiabilitiesOrAssets.creditorsDueWithinOneYear.currentAmount',
                        previousField = 'otherLiabilitiesOrAssets.creditorsDueWithinOneYear.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            Creditors - amounts falling due within one year
                            <span class="govuk-hint">
                                Enter this number as a positive value and we'll calculate your net current assets
                            </span>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherLiabilitiesOrAssets.creditorsDueWithinOneYear.currentAmount',
                                text = 'Creditors - amounts falling due within one year current',
                                class= 'govuk-input current current-net-assets-subtract'
                                )">
                            </div>
                        </div>
                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherLiabilitiesOrAssets.creditorsDueWithinOneYear.previousAmount',
                                text = 'Creditors - amounts falling due within one year previous',
                                class= 'govuk-input previous previous-net-assets-subtract'
                                )">
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'otherLiabilitiesOrAssets.netCurrentAssets.currentAmount',
                        previousField = 'otherLiabilitiesOrAssets.netCurrentAssets.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row accounts-total">
                        <div class="govuk-grid-column-one-half">
                            <strong>Net current assets (liabilities)</strong>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherLiabilitiesOrAssets.netCurrentAssets.currentAmount',
                                text = 'Net current assets (liabilities) current',
                                class= 'govuk-input current-net-assets-total current-assets-less-current-liabilities-add'
                                )">
                            </div>
                        </div>
                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherLiabilitiesOrAssets.netCurrentAssets.previousAmount',
                                text = 'Net current assets (liabilities) previous',
                                class= 'govuk-input previous-net-assets-total previous-assets-less-current-liabilities-add'
                                )">
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'otherLiabilitiesOrAssets.totalAssetsLessCurrentLiabilities.currentAmount',
                        previousField = 'otherLiabilitiesOrAssets.totalAssetsLessCurrentLiabilities.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row accounts-total">
                        <div class="govuk-grid-column-one-half">
                            <strong>Total assets less current liabilities</strong>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherLiabilitiesOrAssets.totalAssetsLessCurrentLiabilities.currentAmount',
                                text = 'Total assets less current liabilities current',
                                class= 'govuk-input current-assets-less-current-liabilities-total current-total-net-assets-add'
                                )">
                            </div>
                        </div>
                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherLiabilitiesOrAssets.totalAssetsLessCurrentLiabilities.previousAmount',
                                text = 'Total assets less current liabilities previous',
                                class= 'govuk-input previous-assets-less-current-liabilities-total previous-total-net-assets-add'
                                )">
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'otherLiabilitiesOrAssets.creditorsAfterOneYear.currentAmount',
                        previousField = 'otherLiabilitiesOrAssets.creditorsAfterOneYear.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            Creditors - amounts falling due after more than one year
                            <span class="govuk-hint">
                                Enter this number as a positive value and we'll calculate your net current assets
                            </span>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherLiabilitiesOrAssets.creditorsAfterOneYear.currentAmount',
                                text = 'Creditors - amounts falling due after more than one year current',
                                class= 'govuk-input current current-total-net-assets-subtract'
                                )">
                            </div>
                        </div>
                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherLiabilitiesOrAssets.creditorsAfterOneYear.previousAmount',
                                text = 'Creditors - amounts falling due after more than one year previous',
                                class= 'govuk-input previous previous-total-net-assets-subtract'
                                )">
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'otherLiabilitiesOrAssets.provisionForLiabilities.currentAmount',
                        previousField = 'otherLiabilitiesOrAssets.provisionForLiabilities.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            Provision for liabilities
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherLiabilitiesOrAssets.provisionForLiabilities.currentAmount',
                                text = 'Provision for liabilities current',
                                class= 'govuk-input current current-total-net-assets-subtract'
                                )">
                            </div>
                        </div>
                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherLiabilitiesOrAssets.provisionForLiabilities.previousAmount',
                                text = 'Provision for liabilities previous',
                                class= 'govuk-input previous previous-total-net-assets-subtract'
                                )">
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'otherLiabilitiesOrAssets.accrualsAndDeferredIncome.currentAmount',
                        previousField = 'otherLiabilitiesOrAssets.accrualsAndDeferredIncome.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            Accruals and deferred income
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherLiabilitiesOrAssets.accrualsAndDeferredIncome.currentAmount',
                                text = 'Accruals and deferred income current',
                                class= 'govuk-input current current-total-net-assets-subtract'
                                )">
                            </div>
                        </div>
                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherLiabilitiesOrAssets.accrualsAndDeferredIncome.previousAmount',
                                text = 'Accruals and deferred income previous',
                                class= 'govuk-input previous previous-total-net-assets-subtract'
                                )">
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'otherLiabilitiesOrAssets.totalNetAssets.currentAmount',
                        previousField = 'otherLiabilitiesOrAssets.totalNetAssets.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row accounts-total">
                        <div class="govuk-grid-column-one-half">
                            <strong>Total net assets (liabilities)</strong>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherLiabilitiesOrAssets.totalNetAssets.currentAmount',
                                text = 'Total net assets (liabilities) current',
                                class= 'govuk-input current-total-net-assets-total'
                                )">
                            </div>
                        </div>
                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherLiabilitiesOrAssets.totalNetAssets.previousAmount',
                                text = 'Total net assets (liabilities) previous',
                                class= 'govuk-input previous-total-net-assets-total'
                                )">
                            </div>
                        </div>
                    </div>

                    <!-- End Other Libabilities and Assets -->

                    <!-- Start Capital and Reservces -->

                    <h2 class="govuk-heading-m">Capital and reserves</h2>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'capitalAndReserves.calledUpShareCapital.currentAmount',
                        previousField = 'capitalAndReserves.calledUpShareCapital.previousAmount'
                        )">
                     </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            Called up share capital
                        </div>

                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'capitalAndReserves.calledUpShareCapital.currentAmount',
                                text = 'Called up share capital current',
                                class = 'govuk-input current range-from-one total-shareholders-funds-current-add'
                                )">
                            </div>
                        </div>
                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'capitalAndReserves.calledUpShareCapital.previousAmount',
                                text = 'Called up share capital previous',
                                class = 'govuk-input previous range-from-one total-shareholders-funds-previous-add'
                                )">
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'capitalAndReserves.sharePremiumAccount.currentAmount',
                        previousField = 'capitalAndReserves.sharePremiumAccount.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                                Share premium account
                        </div>

                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'capitalAndReserves.sharePremiumAccount.currentAmount',
                                text = 'Share premium account current',
                                class = 'govuk-input current total-shareholders-funds-current-add'
                                )">
                            </div>
                        </div>
                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'capitalAndReserves.sharePremiumAccount.previousAmount',
                                text = 'Share premium account previous',
                                class = 'govuk-input previous total-shareholders-funds-previous-add'
                                )">
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'capitalAndReserves.otherReserves.currentAmount',
                        previousField = 'capitalAndReserves.otherReserves.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                                    Other reserves
                        </div>

                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'capitalAndReserves.otherReserves.currentAmount',
                                text = 'Other reserves current',
                                class = 'govuk-input current range-from-minus total-shareholders-funds-current-add'
                                )">
                            </div>
                        </div>

                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'capitalAndReserves.otherReserves.previousAmount',
                                text = 'Other reserves previous',
                                class = 'govuk-input previous range-from-minus total-shareholders-funds-previous-add'
                                )">
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'capitalAndReserves.profitAndLossAccount.currentAmount',
                        previousField = 'capitalAndReserves.profitAndLossAccount.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                               Profit and loss account
                            <span class="govuk-hint">Also known as 'retained earnings'</span>
                        </div>

                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'capitalAndReserves.profitAndLossAccount.currentAmount',
                                text = 'Profit and loss account current',
                                class = 'govuk-input current range-from-minus total-shareholders-funds-current-add'
                                )">
                            </div>
                        </div>

                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'capitalAndReserves.profitAndLossAccount.previousAmount',
                                text = 'Profit and loss account previous',
                                class = 'govuk-input previous range-from-minus total-shareholders-funds-previous-add'
                                )">
                            </div>
                        </div>
                    </div>

                    <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'capitalAndReserves.totalShareholdersFunds.currentAmount',
                        previousField = 'capitalAndReserves.totalShareholdersFunds.previousAmount'
                        )">
                    </div>

                    <div class="govuk-grid-row accounts-total">
                        <div class="govuk-grid-column-one-half">
                            <strong>Total shareholders' funds</strong>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'capitalAndReserves.totalShareholdersFunds.currentAmount',
                                text = 'Total shareholders fund current',
                                class= 'govuk-input total-shareholders-funds-current-total'
                                )">
                            </div>
                        </div>
                        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
                            <div th:replace="fragments/numberInput :: numberInput (
                                id = 'capitalAndReserves.totalShareholdersFunds.previousAmount',
                                text = 'Total shareholders fund previous',
                                class= 'govuk-input total-shareholders-funds-previous-total'
                                )">
                            </div>
                        </div>
                    </div>

                </div>

                    <br>

                    <div class="form-group">
                        <input id="next-button" class="govuk-button piwik-event" data-event-id="Balance Sheet - Save and continue" type="submit" role="button" value="Save and continue"/>
                    </div>
                <script th:src="@{{cdnUrl}/javascripts/lib/company-accounts-web/balancesheet-validation.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>

            </form>
        </div>
</html>


