<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
  <title>Basis of preparation</title>
</head>
<body>
<div id="basisOfPreparation-main-content" layout:fragment="content">

  <form id="basisOfPreparation-form" th:action="@{''}" th:object="${basisOfPreparation}" class="form" method="post">

    <div th:replace="fragments/globalErrors :: globalErrors"></div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 id="page-title-heading" class="govuk-heading-l govuk-!-margin-bottom-0">How did you prepare your accounts?</h1>
            </legend>
            <details class="govuk-details" role="group">
              <summary class="govuk-details__summary" role="button" aria-controls="basisOfPreparation-help-text" aria-expanded="false">
                <span id="basisOfPreparation-help-text-link" class="govuk-details__summary-text">
                  What's this?
                </span>
              </summary>
              <div class="govuk-details__text" id="basisOfPreparation-help-text" aria-hidden="true">
                This policy is about the accounting standards you’ve prepared your accounts to.
                Your accounts should include a statement about the basis of measurement and preparation.
                If you’re unsure you should ask an accountant
              </div>
            </details>

            <div class="govuk-radios" data-module="radios" th:classappend="${#fields.hasErrors('isPreparedInAccordanceWithStandards')} ? 'govuk-form-group--error' : ''">

              <span class="govuk-error-message"
                    id="isPreparedInAccordanceWithStandards-errorId"
                    th:if="${#fields.hasErrors('isPreparedInAccordanceWithStandards')}"
                    th:each="e : ${#fields.errors('isPreparedInAccordanceWithStandards')}" th:text="${e}" >
                            </span>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input piwik-event" id="basisOfPreparation-custom-statement" data-target-text-field="basisOfPreparation-custom-statement-field" th:field="*{isPreparedInAccordanceWithStandards}" type="radio" value="0" data-event-id="FRS101">
                <label class="govuk-label govuk-radios__label" id="basisOfPreparation-custom-statement-label" for="basisOfPreparation-custom-statement">
                  These financial statements have been prepared in accordance with the provisions of Financial Reporting Standard 101
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input piwik-event" id="basisOfPreparation-prepared-statement" data-target-text-field="basisOfPreparation-custom-statement-field" th:field="*{isPreparedInAccordanceWithStandards}" type="radio" value="1" data-event-id="FRS102">
                <label class="govuk-label govuk-radios__label" id="basisOfPreparation-prepared-statement-label" for="basisOfPreparation-prepared-statement">
                  These financial statements have been prepared in accordance with the provisions of Section 1A (Small Entities) of Financial Reporting Standard 102
                </label>
              </div>

            </div>

          </fieldset>
        </div>

        <input id="next-button" class="govuk-button piwik-event" data-event-id="Basis of preparation - Save and continue" type="submit" role="button" value="Save and continue"/>

      </div>
    </div>
  </form>

</div>
</body>
</html>