<!DOCTYPE html>

<html lang=en xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
  <title>You cannot file full accounts for this company type - File your company accounts - GOV.UK</title>
</head>

<body>
<div id="main-content" layout:fragment="content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 id="page-title" class="govuk-heading-l">You cannot file full accounts for this company type</h1>
      <p class="govuk-body">You cannot file accounts for a UK Establishment of an overseas company. Only the overseas company can file accounts.</p>
      <p class="govuk-body">
        For more information, read the
        <a id="uk-establishment-guidance-link"
           class="govuk-link piwik-event"
           data-event-id="UK establishment guidance link"
           href="https://www.gov.uk/file-accounts-in-the-uk-as-an-overseas-company">guidance on filing accounts in the UK as an overseas company</a>, or go back to file for another company
      </p>
    </div>
  </div>
</div>
</body>

</html>

