<!DOCTYPE html>

<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/baseLayout}">

<head>
  <title id="page-title-heading">
    Company policy on disabled employees question
  </title>
</head>
<div id="main-content" layout:fragment="content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="companyPolicyOnDisabledEmployees-selection-form" class="form" th:action="@{''}" th:object="${companyPolicyOnDisabledEmployeesSelection}" method="post">

        <div th:replace="~{fragments/globalErrors :: globalErrors}"></div>

        <div class="govuk-form-group"
             th:classappend="${#fields.hasErrors('hasCompanyPolicyOnDisabledEmployees')} ? 'govuk-form-group--error' : ''">

          <div th:replace="fragments/inlineYesNoRadioButtons :: inlineYesNoRadioButtons (
              legendText = 'Does the directors\' report in your prepared accounts include a company policy on disabled employees?',
              radioButtonsFieldName = 'hasCompanyPolicyOnDisabledEmployees'
              )">
          </div>
        </div>

        <input id="next-button" class="govuk-button piwik-event" data-event-id="Company policy on disabled employees selection - save and continue"
               type="submit" role="button" value="Save and continue"/>

      </form>
    </div>
  </div>
</div>
</html>