<!DOCTYPE html>

<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/baseLayout}">

<head>
  <title>Creditors - amounts falling due after one year note</title>
</head>

<div id="main-content" layout:fragment="content" class="two-column-accounts">

  <form id="balanceSheet-form" th:action="@{''}" th:object="${creditorsAfterOneYear}" class="form currency-included-within-inputs govuk-body" method="post">

    <div th:replace="fragments/globalErrors :: globalErrors"></div>

    <div th:replace="fragments/numberedHeading :: numberedHeading (
                    headingText = 'Creditors - amounts falling due after one year note'
                )">
    </div>

    <div class="left-indent">
      <div class="panel panel-border-wide">
        <p id="creditors-after-one-year-help-text" class="warning-note warning-note-large">You only need to enter items included in your prepared accounts.</p>
      </div>

      <div class="govuk-grid-row" id="accounts-header">
        <div class="govuk-grid-column-one-half">
          &nbsp;
        </div>
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-s">
            <span id="currentPeriodHeading" th:text='*{balanceSheetHeadings.currentPeriodHeading}'>Current Period</span>
            <!-- Hidden input for form binding -->
            <input th:field="*{balanceSheetHeadings.currentPeriodHeading}" type="hidden">
          </h2>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-s">
            <span id="previousPeriodHeading" th:text='*{balanceSheetHeadings.previousPeriodHeading}'>Previous Period</span>
            <!-- Hidden input for form binding -->
            <input th:field="*{balanceSheetHeadings.previousPeriodHeading}" type="hidden">
          </h2>
        </div>
      </div>

      <!--Start Bank Loans And Overdrafts-->

      <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'bankLoansAndOverdrafts.currentBankLoansAndOverdrafts',
                        previousField = 'bankLoansAndOverdrafts.previousBankLoansAndOverdrafts'
                        )">
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          Bank loans and overdrafts
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div th:replace="fragments/numberInput :: numberInput (
                                id = 'bankLoansAndOverdrafts.currentBankLoansAndOverdrafts',
                                text = 'Bank loans and overdrafts current ' + *{balanceSheetHeadings.currentPeriodHeading} + ' in £',
                                class= 'govuk-input current current-creditors-after-one-year-add',
                                )">
          </div>
        </div>
        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
          <div th:replace="fragments/numberInput :: numberInput (
                                id = 'bankLoansAndOverdrafts.previousBankLoansAndOverdrafts',
                                text = 'Bank loans and overdrafts previous ' + *{balanceSheetHeadings.previousPeriodHeading} + ' in £',
                                class= 'govuk-input previous previous-creditors-after-one-year-add',
                                )">
          </div>
        </div>
      </div>

      <!--End Bank Loans And Overdrafts-->

      <!--Start Finance Leases And Hire Purchase Contracts-->

      <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'financeLeasesAndHirePurchaseContracts.currentFinanceLeasesAndHirePurchaseContracts',
                        previousField = 'financeLeasesAndHirePurchaseContracts.previousFinanceLeasesAndHirePurchaseContracts'
                        )">
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          Amounts due under finance leases and hire purchase contracts
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div th:replace="fragments/numberInput :: numberInput (
                                id = 'financeLeasesAndHirePurchaseContracts.currentFinanceLeasesAndHirePurchaseContracts',
                                text = 'Finance leases and hire purchase contracts current ' + *{balanceSheetHeadings.currentPeriodHeading} + ' in £',
                                class= 'govuk-input current current-creditors-after-one-year-add',
                                )">
          </div>
        </div>
        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
          <div th:replace="fragments/numberInput :: numberInput (
                                id = 'financeLeasesAndHirePurchaseContracts.previousFinanceLeasesAndHirePurchaseContracts',
                                text = 'Finance leases and hire purchase contracts previous ' + *{balanceSheetHeadings.previousPeriodHeading} + ' in £',
                                class= 'govuk-input previous previous-creditors-after-one-year-add',
                                )">
          </div>
        </div>
      </div>

      <!--End Finance Leases And Hire Purchase Contracts-->

      <!--Start Other Creditors-->

      <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'otherCreditors.currentOtherCreditors',
                        previousField = 'otherCreditors.previousOtherCreditors'
                        )">
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          Other creditors
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherCreditors.currentOtherCreditors',
                                text = 'Other creditors current ' + *{balanceSheetHeadings.currentPeriodHeading} + ' in £',
                                class= 'govuk-input current current-creditors-after-one-year-add',
                                )">
          </div>
        </div>
        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
          <div th:replace="fragments/numberInput :: numberInput (
                                id = 'otherCreditors.previousOtherCreditors',
                                text = 'Other creditors previous ' + *{balanceSheetHeadings.previousPeriodHeading} + ' in £',
                                class= 'govuk-input previous previous-creditors-after-one-year-add',
                                )">
          </div>
        </div>
      </div>

      <!--End Other Creditors-->

      <!--Start Total-->

      <div th:replace="fragments/fieldErrorRow :: fieldErrorRow (
                        currentField = 'total.currentTotal',
                        previousField = 'total.previousTotal'
                        )">
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <strong>Total</strong>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div th:replace="fragments/numberInput :: numberInput (
                                id = 'total.currentTotal',
                                text = 'Total current ' + *{balanceSheetHeadings.currentPeriodHeading} + ' in £',
                                class= 'govuk-input current-creditors-after-one-year-total',
                                )">
          </div>
        </div>
        <div th:unless="*{#strings.isEmpty(balanceSheetHeadings.previousPeriodHeading)}" class="govuk-grid-column-one-quarter">
          <div th:replace="fragments/numberInput :: numberInput (
                                id = 'total.previousTotal',
                                text = 'Total previous ' + *{balanceSheetHeadings.previousPeriodHeading} + ' in £',
                                class= 'govuk-input previous-creditors-after-one-year-total',
                                )">
          </div>
        </div>
      </div>

      <!--End Total-->

      <div th:replace="fragments/additionalInformation :: additionalInformation (
                                id = 'details',
                                dropDownText = 'Add additional information about your \'creditors - amounts falling due after one year\' note?',
                                helpText = 'Enter details of any other \'creditors - amounts falling due after one year\' information not already covered'
                                )">
      </div>

      <div class="form-group">
        <input id="next-button" class="govuk-button piwik-event" data-event-id="Creditors After More Than One Year - Save and continue" type="submit" role="button" value="Save and continue"/>
      </div>
    </div>
    <script th:src="@{{cdnUrl}/javascripts/lib/company-accounts-web/two-column-accounts-validation.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
  </form>
</div>
</html>