<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
  <title>Full Accounts Criteria</title>
</head>
<body>
<div id="criteria-main-content" layout:fragment="content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="criteria-form" th:action="@{''}" th:object="${criteria}" class="form" method="post">
        <div th:replace="fragments/globalErrors :: globalErrors"></div>
        <header>
          <h1 id="page-title" class="govuk-heading-l">
            File full accounts
          </h1>
        </header>

        <h2 class="govuk-heading-m" id="criteria-sub-heading">Criteria</h2>

          <p id="criteria-overview">Check your prepared accounts to see if you meet the criteria.</p>

        <p id="company-criteria-list-heading">You <b>cannot</b> file full accounts using the new service if your company type is:</p>

        <ul class="govuk-list govuk-list--bullet" id="company-criteria-list">
          <li>a charity</li>
          <li>a PLC</li>
        </ul>

        <p id="criteria-list-heading">You <b>can</b> file full accounts here if:</p>

        
        <ul class="govuk-list govuk-list--bullet" id="criteria-list">
          <li>your directors' report includes details of no more than 20 directors</li>
          <li>you don't need to change the date the accounts are made up to</li>
          <li>your balance sheet doesn’t have 'revaluation reserve'</li>
          <li>you only need to add notes (if applicable) for 'accounting policies', 'employees', 'tangible assets', 'intangible assets',
            'fixed assets investments', 'stocks', 'debtors', 'current assets investments', 'creditors - amounts falling
            due within one year', 'creditors - amounts falling due after one year', or 'off balance sheet arrangements'</li>
        </ul>

        <p id="criteria-additional-requirements">Your company must also meet at least 2 of the following:</p>

        <ul class="govuk-list govuk-list--bullet" id="criteria-additional-requirements-list">
          <li>turnover is not over £10.2 million</li>
          <li>balance sheet total is not over £5.1 million</li>
          <li>average number of employees is not over 50</li>
        </ul>

        <h2 class="govuk-heading-m" id="criteria-submit-heading">Do your prepared full accounts meet the criteria?</h2>

        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('isCriteriaMet')} ? 'govuk-form-group--error' : ''">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-visually-hidden">Do your prepared full accounts meet the criteria?</legend>

            <span class="govuk-error-message"
                  id="isCriteriaMet-errorId"
                  th:if="${#fields.hasErrors('isCriteriaMet')}"
                  th:each="e : ${#fields.errors('isCriteriaMet')}" th:text="${e}" >
                            </span>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input id="yesButton"
                       type="radio"
                       value="yes"
                       th:field="*{isCriteriaMet}"
                       th:errorclass="govuk-error-message"
                       class="govuk-radios__input piwik-event" data-event-id="Yes"/>
                <label class="govuk-label govuk-radios__label" for="yesButton" id="yesButton-label">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input id="noAlternativeFilingButton"
                       type="radio"
                       value="noAlternativeFilingMethod"
                       th:field="*{isCriteriaMet}"
                       th:errorclass="govuk-error-message"
                       class="govuk-radios__input piwik-event" data-event-id="No other full"/>
                <label class="govuk-label govuk-radios__label" for="noAlternativeFilingButton" id="noAlternativeFilingButton-label">
                  No - show me other ways to file full accounts
                </label>
              </div>

              <div class="govuk-radios__item">
                <input id="noOtherAccountsButton"
                       type="radio"
                       value="noOtherAccounts"
                       th:field="*{isCriteriaMet}"
                       th:errorclass="govuk-error-message"
                       class="govuk-radios__input piwik-event" data-event-id="No other accounts"/>
                <label class="govuk-label govuk-radios__label" for="noOtherAccountsButton" id="noButton-label">
                  No - I'll file other types of accounts
                </label>
              </div>

            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <input id="next-button" class="govuk-button piwik-event" data-event-id="Small full criteria - Save and continue" type="submit" role="button" value="Continue"/>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>