<!DOCTYPE html>

<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layouts/baseLayout}">

<head>
    <title>Current Assets Investments</title>
</head>

<div id="current-assets-investments-main-content" layout:fragment="content" class="two-column-accounts">

    <form id="balanceSheet-form" th:action="@{''}" th:object="${currentAssetsInvestments}"
          class="form currency-included-within-inputs govuk-body" method="post">

        <div th:replace="fragments/globalErrors :: globalErrors"></div>

        <div class="left-indent">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <label class="govuk-label govuk-label govuk-label--l" th:for="currentAssetsInvestmentsDetails">Enter your 'current assets investments' note</label>

                    <span class="govuk-error-message"
                          id="details-errorId"
                          th:if="${#fields.hasErrors('__currentAssetsInvestmentsDetails__')}"
                          th:each="e : ${#fields.errors('__currentAssetsInvestmentsDetails__')}" th:text="${e}">
                    </span>

                    <textarea class="govuk-textarea" th:id="details" th:name="details" th:field="*{__currentAssetsInvestmentsDetails__}"
                              th:value="details"
                              rows="5"
                              th:classappend="${#fields.hasErrors('__currentAssetsInvestmentsDetails__')} ? 'govuk-textarea--error' : ''"></textarea>
                </div>
            </div>

        </div>

        <!--End Total-->

        <div class="form-group">
            <input id="next-button" class="govuk-button piwik-event"
                   data-event-id="Current Assets Investments - Save and continue" type="submit" role="button"
                   value="Save and continue"/>
        </div>
    </form>
    <script th:src="@{{cdnUrl}/javascripts/lib/company-accounts-web/balancesheet-validation.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
</div>
</html>