<!DOCTYPE html>

<html lang=en xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
  <title>You need to file these accounts in a different way - File your company accounts - GOV.UK</title>
</head>

<body>
<div id="main-content" layout:fragment="content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 id="page-title" class="govuk-heading-l">You need to file these accounts in a different way</h1>
      <p class="govuk-body">You cannot use this service to file full accounts for an overseas company.</p>
      <p class="govuk-body">
        For more information, read our
        <a id="overseas-company-guidance-link"
           class="govuk-link piwik-event"
           data-event-id="Overseas company guidance link"
           href="https://www.gov.uk/file-accounts-in-the-uk-as-an-overseas-company">guidance on filing accounts in the UK as an overseas company</a>.
      </p>
    </div>
  </div>
</div>
</body>

</html>

