<!DOCTYPE html>

<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layouts/baseLayout}">

<head>
    <title id="page-title-heading">
        Financial Commitments
    </title>
</head>
<div id="main-content" layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form id="financialCommitments-form" class="form" th:action="@{''}" th:object="${financialCommitments}"
                  method="post">

                <div th:replace="fragments/globalErrors :: globalErrors"></div>

                <div class="govuk-form-group govuk-form-group-block-important"
                     th:classappend="${#fields.hasErrors('financialCommitmentsDetails')} ? 'govuk-form-group--error' : ''">

                    <label id="financialCommitments-heading" class="govuk-label govuk-label--l"
                           for="financialCommitmentsDetails">
                        Enter your 'financial commitments' note
                    </label>

                    <span class="govuk-error-message"
                          id="financialCommitmentsDetails-errorId"
                          th:if="${#fields.hasErrors('financialCommitmentsDetails')}"
                          th:each="e : ${#fields.errors('financialCommitmentsDetails')}" th:text="${e}">
            </span>

                    <textarea class="govuk-textarea"
                              id="financialCommitmentsDetails"
                              th:field="*{financialCommitmentsDetails}"
                              rows="5">
            </textarea>
                </div>

                <input id="next-button" class="govuk-button piwik-event"
                       data-event-id="Financial commitments - save and continue"
                       type="submit" role="button" value="Save and continue"/>

            </form>
        </div>
    </div>
</div>
</html>