<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
  <title>Intangible assets note</title>
</head>
<body>
<div id="intangible-assets-note-main-content" layout:fragment="content" class="two-column-accounts">

  <form id="intangible-assets-note-form" th:action="@{''}" th:object="${intangibleAssets}"
        class="form currency-included-within-inputs govuk-body" method="post">


    <div th:replace="fragments/globalErrors :: globalErrors"></div>

    <div th:replace="fragments/numberedHeading :: numberedHeading (
                    headingText = 'Intangible assets note'
                )">
    </div>

    <input th:field="*{lastAccountsPeriodEndOn}" type="hidden">
    <input th:field="*{nextAccountsPeriodStartOn}" type="hidden">
    <input th:field="*{nextAccountsPeriodEndOn}" type="hidden">

    <h2 class="govuk-heading-m">Cost</h2>

    <div class="govuk-grid-row block-desktop-only" id="accounts-header-padding-right">
      <div class="column-fifth">&nbsp;</div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Goodwill</h2>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Other</h2>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Total</h2>
      </div>
    </div>
    <!--Start Cost at start-->
    <th:block th:if="*{lastAccountsPeriodEndOn != null}">
      <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                        row = 'cost.atPeriodStart',
                        isTopRow = true
                        )">
      </div>

      <div class="govuk-grid-row">
        <div class="column-fifth">
          <div th:text="'Cost at ' +${#temporals.format(intangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')} " id="cost.nextAccountsPeriodStartOn"></div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div th:replace="fragments/numberInput :: numberInput (
                                  id = 'cost.atPeriodStart.goodwill',
                                  text = 'Cost at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')} + ' - Goodwill',
                                  class= 'govuk-input',
                                  )">

          </div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div th:replace="fragments/numberInput :: numberInput (
                                  id = 'cost.atPeriodStart.otherIntangibleAssets',
                                  text = 'Cost at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')} + ' - Other',
                                  class= 'govuk-input',
                                  )">
          </div>

        </div>
        <div class="govuk-grid-column-one-quarter accounts-total">
          <div th:replace="fragments/numberInput :: numberInput (
                                  id = 'cost.atPeriodStart.total',
                                  text = 'Cost at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')} + ' - Total',
                                  class= 'govuk-input',
                                  )">
          </div>
        </div>
      </div>
    </th:block>
    <!--End Cost at start-->
    <!--Start Additions -->
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'cost.additions'
                      )">
    </div>

    <div class="govuk-grid-row">
      <div class="column-fifth">Additions</div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.additions.goodwill',
                                text = 'Additions - Goodwill',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.additions.otherIntangibleAssets',
                                text = 'Additions - Other',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.additions.total',
                                text = 'Additions - Total',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
    </div>
    <!--End Additions-->
    <!--Start Disposals-->
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'cost.disposals'
                      )">
    </div>

    <div class="govuk-grid-row">
      <div class="column-fifth">Disposals</div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.disposals.goodwill',
                                text = 'Disposals - Goodwill',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.disposals.otherIntangibleAssets',
                                text = 'Disposals - Other',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.disposals.total',
                                text = 'Disposals - Total',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
    </div>

    <!--End Disposals=-->
    <!--Start Revaluations-->
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'cost.revaluations'
                      )">
    </div>

    <div class="govuk-grid-row">
      <div class="column-fifth">Revaluations</div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.revaluations.goodwill',
                                text = 'Revaluations - Goodwill',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.revaluations.otherIntangibleAssets',
                                text = 'Revaluations - Other',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.revaluations.total',
                                text = 'Revaluations - Total',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
    </div>
    <!--End Revaluations=-->
    <!--Start Transfers-->
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'cost.transfers'
                      )">
    </div>

    <div class="govuk-grid-row">
      <div class="column-fifth">Transfers</div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.transfers.goodwill',
                                text = 'Transfers - Goodwill',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.transfers.otherIntangibleAssets',
                                text = 'Transfers - Other',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.transfers.total',
                                text = 'Transfers - Total',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
    </div>
    <!--End Transfers-->
    <!--Start Cost at end-->
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'cost.atPeriodEnd'
                      )">
    </div>

    <div class="govuk-grid-row accounts-total">
      <div class="column-fifth">
        <strong><div th:text="'Cost at ' +${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')}" id="cost.nextAccountsPeriodEndOn"></div></strong>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodEnd.Goodwill',
                                text = 'Cost at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')} + ' - Goodwill',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodEnd.otherIntangibleAssets',
                                text = 'Cost at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')} + ' - Other',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodEnd.total',
                                text = 'Cost at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')} + ' - Total',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <br>

    </div>


      <br>
      <input id="next-button" class="govuk-button piwik-event"
             data-event-id="Intangible assets note - Save and continue" type="submit" role="button"
             value="Save and continue"/>

  </form>
</div>
</body>
</html>
