<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
  <title>Intangible assets note</title>
</head>
<body>
<div id="intangible-assets-note-main-content" layout:fragment="content" class="two-column-accounts">

  <form id="intangible-assets-note-form" th:action="@{''}" th:object="${intangibleAssets}"
        class="form currency-included-within-inputs govuk-body" method="post">


    <div th:replace="fragments/globalErrors :: globalErrors"></div>

    <div th:replace="fragments/numberedHeading :: numberedHeading (
                    headingText = 'Intangible assets note'
                )">
    </div>

    <input th:field="*{lastAccountsPeriodEndOn}" type="hidden">
    <input th:field="*{nextAccountsPeriodStartOn}" type="hidden">
    <input th:field="*{nextAccountsPeriodEndOn}" type="hidden">

    <h2 class="govuk-heading-m">Cost</h2>

    <div class="govuk-grid-row block-desktop-only accounts-header-padding-right">
      <div class="govuk-grid-column-one-quarter">&nbsp;</div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Goodwill</h2>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Other</h2>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Total</h2>
      </div>
    </div>
    <!--Start Cost at start-->
    <th:block th:if="*{lastAccountsPeriodEndOn != null}">
      <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                        row = 'cost.atPeriodStart',
                        isTopRow = true
                        )">
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <div th:text="'Cost at ' +${#temporals.format(intangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')} " id="cost.nextAccountsPeriodStartOn"></div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div th:replace="fragments/numberInput :: numberInput (
                                  id = 'cost.atPeriodStart.goodwill',
                                  text = 'Cost at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')} + ' - Goodwill',
                                  class= 'govuk-input validate cost-ps-add cost-gw-add',
                                  )">

          </div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div th:replace="fragments/numberInput :: numberInput (
                                  id = 'cost.atPeriodStart.otherIntangibleAssets',
                                  text = 'Cost at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')} + ' - Other',
                                  class= 'govuk-input validate cost-ps-add cost-oth-add',
                                  )">
          </div>

        </div>
        <div class="govuk-grid-column-one-quarter accounts-total">
          <div th:replace="fragments/numberInput :: numberInput (
                                  id = 'cost.atPeriodStart.total',
                                  text = 'Cost at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')} + ' - Total',
                                  class= 'govuk-input cost-ps-total cost-t-add',
                                  )">
          </div>
        </div>
      </div>
    </th:block>
    <!--End Cost at start-->
    <!--Start Additions -->
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'cost.additions'
                      )">
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">Additions</div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.additions.goodwill',
                                text = 'Additions - Goodwill',
                                class= 'govuk-input validate cost-a-add cost-gw-add',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.additions.otherIntangibleAssets',
                                text = 'Additions - Other',
                                class= 'govuk-input validate cost-a-add cost-oth-add',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.additions.total',
                                text = 'Additions - Total',
                                class= 'govuk-input cost-a-total cost-t-add',
                                )">
        </div>

      </div>
    </div>
    <!--End Additions-->
    <!--Start Disposals-->
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'cost.disposals'
                      )">
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">Disposals</div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.disposals.goodwill',
                                text = 'Disposals - Goodwill',
                                class= 'govuk-input validate cost-d-add cost-gw-subtract',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.disposals.otherIntangibleAssets',
                                text = 'Disposals - Other',
                                class= 'govuk-input validate cost-d-add cost-oth-subtract',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.disposals.total',
                                text = 'Disposals - Total',
                                class= 'govuk-input cost-d-total cost-t-subtract',
                                )">
        </div>

      </div>
    </div>

    <!--End Disposals=-->
    <!--Start Revaluations-->
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'cost.revaluations'
                      )">
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">Revaluations</div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.revaluations.goodwill',
                                text = 'Revaluations - Goodwill',
                                class= 'govuk-input validate cost-r-add cost-gw-add',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.revaluations.otherIntangibleAssets',
                                text = 'Revaluations - Other',
                                class= 'govuk-input validate cost-r-add cost-oth-add',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.revaluations.total',
                                text = 'Revaluations - Total',
                                class= 'govuk-input cost-r-total cost-t-add',
                                )">
        </div>

      </div>
    </div>
    <!--End Revaluations=-->
    <!--Start Transfers-->
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'cost.transfers'
                      )">
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">Transfers</div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.transfers.goodwill',
                                text = 'Transfers - Goodwill',
                                class= 'govuk-input validate cost-tr-add cost-gw-add',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.transfers.otherIntangibleAssets',
                                text = 'Transfers - Other',
                                class= 'govuk-input validate cost-tr-add cost-oth-add',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.transfers.total',
                                text = 'Transfers - Total',
                                class= 'govuk-input cost-tr-total cost-t-add',
                                )">
        </div>

      </div>
    </div>
    <!--End Transfers-->
    <!--Start Cost at end-->
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'cost.atPeriodEnd'
                      )">
    </div>

    <div class="govuk-grid-row accounts-total">
      <div class="govuk-grid-column-one-quarter">
        <strong><div th:text="'Cost at ' +${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')}" id="cost.nextAccountsPeriodEndOn"></div></strong>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodEnd.goodwill',
                                text = 'Cost at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')} + ' - Goodwill',
                                class= 'govuk-input cost-pe-add cost-gw-total',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodEnd.otherIntangibleAssets',
                                text = 'Cost at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')} + ' - Other',
                                class= 'govuk-input cost-pe-add cost-oth-total',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodEnd.total',
                                text = 'Cost at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')} + ' - Total',
                                class= 'govuk-input cost-pe-total cost-t-total',
                                )">
        </div>

      </div>
      <br>

    </div>


      <br>

    <h2 class="govuk-heading-m">Amortisation</h2>

    <div class="govuk-grid-row block-desktop-only accounts-header-padding-right">
      <div class="govuk-grid-column-one-quarter">&nbsp;</div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Goodwill</h2>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Other</h2>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Total</h2>
      </div>
    </div>


    <!--Start Amortisation at start-->
    <th:block th:if="*{lastAccountsPeriodEndOn != null}">
      <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                        row = 'amortisation.atPeriodStart',
                        isTopRow = true
                        )">
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <div th:text="'Amortisation at ' +${#temporals.format(intangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')} " id="amortisation.nextAccountsPeriodStartOn"></div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div th:replace="fragments/numberInput :: numberInput (
                                  id = 'amortisation.atPeriodStart.goodwill',
                                  text = 'Amortisation at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')} + ' - Goodwill',
                                  class= 'govuk-input validate amort-am-add amort-gw-add',
                                  )">

          </div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div th:replace="fragments/numberInput :: numberInput (
                                  id = 'amortisation.atPeriodStart.otherIntangibleAssets',
                                  text = 'Amortisation at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')} + ' - Other',
                                  class= 'govuk-input validate amort-am-add amort-oth-add',
                                  )">
          </div>

        </div>
        <div class="govuk-grid-column-one-quarter accounts-total">
          <div th:replace="fragments/numberInput :: numberInput (
                                  id = 'amortisation.atPeriodStart.total',
                                  text = 'Amortisation at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')} + ' - Total',
                                  class= 'govuk-input amort-am-total amort-tot-add',
                                  )">
          </div>
        </div>
      </div>
    </th:block>
    <!--End Amortisation at start-->
    <!--Start Charge for year -->
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'amortisation.chargeForYear'
                      )">
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">Charge for year</div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'amortisation.chargeForYear.goodwill',
                                text = 'Charge for year - Goodwill',
                                class= 'govuk-input validate amort-cfy-add amort-gw-add',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'amortisation.chargeForYear.otherIntangibleAssets',
                                text = 'Charge for year - Other',
                                class= 'govuk-input validate amort-cfy-add amort-oth-add',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'amortisation.chargeForYear.total',
                                text = 'Charge for year - Total',
                                class= 'govuk-input validate amort-cfy-total amort-tot-add',
                                )">
        </div>

      </div>
    </div>
    <!--End Charge for year-->
    <!--Start On Disposals-->
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'amortisation.onDisposals'
                      )">
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">On disposals</div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'amortisation.onDisposals.goodwill',
                                text = 'On disposals - Goodwill',
                                class= 'govuk-input validate amort-od-add amort-gw-subtract',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'amortisation.onDisposals.otherIntangibleAssets',
                                text = 'On disposals - Other',
                                class= 'govuk-input validate amort-od-add amort-oth-subtract',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'amortisation.onDisposals.total',
                                text = 'On disposals - Total',
                                class= 'govuk-input validate amort-od-total amort-tot-subtract',
                                )">
        </div>

      </div>
    </div>

    <!--End On Disposals=-->
    <!--Start Other Adjustments-->
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'amortisation.otherAdjustments'
                      )">
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">Other adjustments</div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'amortisation.otherAdjustments.goodwill',
                                text = 'Other adjustments - Goodwill',
                                class= 'govuk-input validate amort-oa-add amort-gw-add',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'amortisation.otherAdjustments.otherIntangibleAssets',
                                text = 'Other adjustments - Other',
                                class= 'govuk-input validate amort-oa-add amort-oth-add',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'amortisation.otherAdjustments.total',
                                text = 'Other adjustments - Total',
                                class= 'govuk-input amort-oa-total amort-tot-add',
                                )">
        </div>

      </div>
    </div>
    <!--End Other Adjustments=-->
    <!--Start Amortisation at end-->
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'amortisation.atPeriodEnd'
                      )">
    </div>

    <div class="govuk-grid-row accounts-total">
      <div class="govuk-grid-column-one-quarter">
        <strong><div th:text="'Amortisation at ' +${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')}" id="amortisation.nextAccountsPeriodEndOn"></div></strong>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'amortisation.atPeriodEnd.goodwill',
                                text = 'Amortisation at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')} + ' - Goodwill',
                                class= 'govuk-input amort-eop-add amort-gw-total',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'amortisation.atPeriodEnd.otherIntangibleAssets',
                                text = 'Amortisation at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')} + ' - Other',
                                class= 'govuk-input amort-eop-add amort-oth-total',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'amortisation.atPeriodEnd.total',
                                text = 'Amortisation at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')} + ' - Total',
                                class= 'govuk-input amort-eop-total amort-tot-total',
                                )">
        </div>

      </div>
      <br>
      <br>

    </div>

    <!--End Amortisation at end-->

    <h2 class="govuk-heading-m">Net Book Value</h2>

    <div class="govuk-grid-row block-desktop-only accounts-header-padding-right">
      <div class="govuk-grid-column-one-quarter">&nbsp;</div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Goodwill</h2>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Other</h2>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Total</h2>
      </div>
    </div>

    <!--Net Book Value End-->
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'netBookValue.currentPeriod',
                      )">
    </div>

    <div class="govuk-grid-row accounts-total">
      <div class="govuk-grid-column-one-quarter">
        <strong><div th:text="'Net book value at ' +${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')}" id="netBookValue.nextAccountsPeriodEndOn"></div></strong>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.currentPeriod.goodwill',
                                text = 'Net book value at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')} + ' - Goodwill',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.currentPeriod.otherIntangibleAssets',
                                text = 'Net book value at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')} + ' - Other Intangible Assets',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.currentPeriod.total',
                                text = 'Net book value at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')} + ' - Total',
                                class= 'govuk-input',
                                )">
        </div>

      </div>

    <br>
    </div>
    <!--Net Book Value Start-->
    <th:block th:if="*{lastAccountsPeriodEndOn != null}">
    <div th:replace="fragments/intangibleAssetsErrorRow :: intangibleAssetsErrorRow (
                      row = 'netBookValue.previousPeriod',
                      isTopRow = true
                      )">
    </div>

    <div class="govuk-grid-row accounts-total">
      <div class="govuk-grid-column-one-quarter">
        <strong><div th:text="'Net book value at ' +${#temporals.format(intangibleAssets.lastAccountsPeriodEndOn, 'd MMMM yyyy')}" id="netBookValue.lastAccountsPeriodEndOn"></div></strong>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.previousPeriod.goodwill',
                                text = 'Net book value at ' + ${#temporals.format(intangibleAssets.lastAccountsPeriodEndOn, 'd MMMM yyyy')} + ' - Goodwill',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.previousPeriod.otherIntangibleAssets',
                                text = 'Net book value at ' + ${#temporals.format(intangibleAssets.lastAccountsPeriodEndOn, 'd MMMM yyyy')} + ' - Other Intangible Assets',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="govuk-grid-column-one-quarter accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.previousPeriod.total',
                                text = 'Net book value at ' + ${#temporals.format(intangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')} + ' - Total',
                                class= 'govuk-input',
                                )">
        </div>

      </div>

      <br>
    </div>

    </th:block>

    <input id="next-button" class="govuk-button piwik-event"
           data-event-id="Intangible assets note - Save and continue" type="submit" role="button"
           value="Save and continue"/>

  </form>
</div>
</body>
</html>
