<!DOCTYPE html>

<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/baseLayout}">

<head>
  <title id="page-title-heading">
    Loans to Directors Additional Information Question
  </title>
</head>
<div id="main-content" layout:fragment="content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="loansToDirectors-question-form" class="form" th:action="@{''}" th:object="${loansToDirectorsAdditionalInfoQuestion}" method="post">

        <div th:replace="fragments/globalErrors :: globalErrors"></div>

        <div class="govuk-form-group"
             th:classappend="${#fields.hasErrors('hasIncludedLoansToDirectorsAdditionalInfo')} ? 'govuk-form-group--error' : ''">

          <div th:replace="fragments/inlineYesNoRadioButtons :: inlineYesNoRadioButtons (
              legendText = 'Do your prepared accounts include any additional \'loans to directors\' information?',
              radioButtonsFieldName = 'hasIncludedLoansToDirectorsAdditionalInfo'
              )">
          </div>
        </div>

        <input id="next-button" class="govuk-button piwik-event" data-event-id="Loans to directors additional information question - save and continue"
               type="submit" role="button" value="Save and continue"/>

      </form>
    </div>
  </div>
</div>
</html>