<!DOCTYPE html>

<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/baseLayout}">

<head>
  <title id="page-title-heading">
    Off balance sheet arrangements question
  </title>
</head>
<div id="main-content" layout:fragment="content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="offBalanceSheetArrangements-question-form" class="form" th:action="@{''}" th:object="${offBalanceSheetArrangementsQuestion}" method="post">

        <div th:replace="fragments/globalErrors :: globalErrors"></div>

        <div class="govuk-form-group"
             th:classappend="${#fields.hasErrors('hasIncludedOffBalanceSheetArrangements')} ? 'govuk-form-group--error' : ''">

          <div th:replace="fragments/inlineYesNoRadioButtonsNoTextBox :: inlineYesNoRadioButtonsNoTextBox (
              legendText = 'Do your prepared accounts include any \'off balance sheet arrangements\'?',
              hint = 'This could include the nature, purpose and financial impact on entity.',
              radioButtonsFieldName = 'hasIncludedOffBalanceSheetArrangements'
              )">
          </div>
        </div>

        <input id="next-button" class="govuk-button piwik-event" data-event-id="Off balance sheet arrangements question - save and continue"
               type="submit" role="button" value="Save and continue"/>

      </form>
    </div>
  </div>
</div>
</html>