<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/baseLayout}">
<head>
  <title>Other Accounting Policies</title>
</head>
<div id="other-accounting-policy-main-content" layout:fragment="content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="statements-form" class="form" th:action="@{''}"
            th:object="${otherAccountingPolicy}"
            method="post">
        <div th:replace="fragments/globalErrors :: globalErrors"></div>
        <div class="govuk-form-group"
             th:classappend="${#fields.hasErrors('hasOtherAccountingPolicySelected')} ? 'govuk-form-group--error' : ''">
          <div th:replace="fragments/inlineYesNoRadioButtons :: inlineYesNoRadioButtons (
              legendText = 'Do your prepared accounts include any other accounting policies?',
              boxLabelTextJavaScriptOn = 'Give details of any other accounting policies',
              boxLabelTextJavaScriptOff = 'If yes, enter your other accounting policies',
              radioButtonsFieldName = 'hasOtherAccountingPolicySelected',
              textBoxFieldName = 'otherAccountingPolicyDetails',
              dataTargetTextFieldName = 'other-accounting-policy-text-box',
              textAreaClassName = 'govuk-textarea'
              )">
          </div>
        </div>
        <input id="next-button" class="govuk-button piwik-event" data-event-id="Other accounting policies - Save and continue" type="submit" role="button"
               value="Save and continue"/>
      </form>
    </div>
  </div>
</div>
</html>