<!DOCTYPE html>

<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/baseLayout}">

<head>
  <title id="page-title-heading">
    Principal activities question
  </title>
</head>
<div id="main-content" layout:fragment="content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="principalActivities-selection-form" class="form" th:action="@{''}" th:object="${principalActivitiesSelection}" method="post">

        <div th:replace="~{fragments/globalErrors :: globalErrors}"></div>

        <div class="govuk-form-group"
             th:classappend="${#fields.hasErrors('hasPrincipalActivities')} ? 'govuk-form-group--error' : ''">

          <div th:replace="fragments/inlineYesNoRadioButtons :: inlineYesNoRadioButtons (
              legendText = 'Does the directors\' report in your prepared accounts include information on the principal activities of the company?',
              radioButtonsFieldName = 'hasPrincipalActivities'
              )">
          </div>
        </div>

        <input id="next-button" class="govuk-button piwik-event" data-event-id="Principal activities selection - save and continue"
               type="submit" role="button" value="Save and continue"/>

      </form>
    </div>
  </div>
</div>
</html>