<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

    <head>
        <title>Check your answers</title>
    </head>

    <body th:object="${review}">

        <div id="balanceSheet-main-content" layout:fragment="content" class="two-column-accounts">

            <h1 id="page-title-heading" class="govuk-heading-l">Check your answers</h1>

            <form id="review-form" th:action="@{''}" class="govuk-body" method="post">

                <!-- Start Balance Sheet -->

                <div th:replace="fragments/review/sectionHeader :: sectionHeader (
                    description = 'Balance sheet',
                    identifier= 'balance-sheet',
                    resource = 'balance-sheet'
                    )">
                </div>

                <dl class="app-check-your-answers app-check-your-answers--short">

                    <div class="app-check-your-answers__contents cya-desktop-only">
                        <dt class="app-check-your-answers__question"></dt>
                        <dd class="app-check-your-answers__answer govuk-heading-s"
                            th:if="*{balanceSheet.balanceSheetHeadings.currentPeriodHeading != null}"
                            th:text='*{balanceSheet.balanceSheetHeadings.currentPeriodHeading}'></dd>
                        <dd class="app-check-your-answers__answer govuk-heading-s"
                            th:if="*{balanceSheet.balanceSheetHeadings.previousPeriodHeading != null}"
                            th:text='*{balanceSheet.balanceSheetHeadings.previousPeriodHeading}'></dd>
                        <dd class="app-check-your-answers__change"></dd>
                    </div>

                    <!-- Start Called Up Share Capital -->

                    <div th:replace="fragments/review/balanceSheetValueRow :: balanceSheetValueRow (
                        description = 'Called up share capital not paid',
                        identifier = 'called-up-share-capital-not-paid',
                        currentAmount = *{balanceSheet?.calledUpShareCapitalNotPaid?.currentAmount},
                        previousAmount = *{balanceSheet?.calledUpShareCapitalNotPaid?.previousAmount}
                        )">
                    </div>

                    <!-- End Called Up Share Capital -->

                    <!-- Start Fixed Assets -->

                    <th:block th:if="*{balanceSheet?.fixedAssets?.currentTotal != null or balanceSheet?.fixedAssets?.previousTotal != null}">

                        <div th:replace="fragments/review/balanceSheetHeaderRow :: balanceSheetHeaderRow (
                            description = 'Fixed assets'
                        )">
                        </div>

                        <div th:replace="fragments/review/balanceSheetValueRow :: balanceSheetValueRow (
                            description = 'Tangible assets',
                            identifier = 'tangible-assets',
                            currentAmount = *{balanceSheet?.fixedAssets?.tangibleAssets?.currentAmount},
                            previousAmount = *{balanceSheet?.fixedAssets?.tangibleAssets?.previousAmount}
                        )">
                        </div>

                        <div th:replace="fragments/review/balanceSheetValueRow :: balanceSheetValueRow (
                            description = 'Total fixed assets',
                            identifier = 'total-fixed-assets',
                            currentAmount = *{balanceSheet?.fixedAssets?.currentTotal},
                            previousAmount = *{balanceSheet?.fixedAssets?.previousTotal},
                            isTotalRow = true
                        )">
                        </div>

                    </th:block>

                    <!-- End Fixed Assets -->

                    <!-- Start Current Assets -->

                    <th:block th:if="*{balanceSheet?.currentAssets?.currentTotal != null or balanceSheet?.currentAssets?.previousTotal != null}">

                        <div th:replace="fragments/review/balanceSheetHeaderRow :: balanceSheetHeaderRow (
                            description = 'Current assets'
                        )">
                        </div>

                        <div th:replace="fragments/review/balanceSheetValueRow :: balanceSheetValueRow (
                            description = 'Stocks',
                            identifier = 'stocks',
                            currentAmount = *{balanceSheet?.currentAssets?.stocks?.currentAmount},
                            previousAmount = *{balanceSheet?.currentAssets?.stocks?.previousAmount}
                        )">
                        </div>

                        <div th:replace="fragments/review/balanceSheetValueRow :: balanceSheetValueRow (
                            description = 'Debtors',
                            identifier = 'debtors',
                            currentAmount = *{balanceSheet?.currentAssets?.debtors?.currentAmount},
                            previousAmount = *{balanceSheet?.currentAssets?.debtors?.previousAmount}
                        )">
                        </div>

                        <div th:replace="fragments/review/balanceSheetValueRow :: balanceSheetValueRow (
                            description = 'Cash at bank and in hand',
                            identifier = 'cash-at-bank-and-in-hand',
                            currentAmount = *{balanceSheet?.currentAssets?.cashAtBankAndInHand?.currentAmount},
                            previousAmount = *{balanceSheet?.currentAssets?.cashAtBankAndInHand?.previousAmount}
                        )">
                        </div>

                        <div th:replace="fragments/review/balanceSheetValueRow :: balanceSheetValueRow (
                            description = 'Total current assets',
                            identifier = 'total-current-assets',
                            currentAmount = *{balanceSheet?.currentAssets?.currentTotal},
                            previousAmount = *{balanceSheet?.currentAssets?.previousTotal},
                            isTotalRow = true
                        )">
                        </div>

                    </th:block>

                    <!-- End Current Assets -->

                    <!-- Start Other Liabilities and Assets -->

                    <th:block th:if="*{balanceSheet?.otherLiabilitiesOrAssets?.totalNetAssets?.currentAmount != null or balanceSheet?.otherLiabilitiesOrAssets?.totalNetAssets?.previousAmount != null}">

                        <div th:replace="fragments/review/balanceSheetValueRow :: balanceSheetValueRow (
                            description = 'Prepayments and accrued income',
                            identifier = 'prepayments-and-accrued-income',
                            currentAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.prepaymentsAndAccruedIncome?.currentAmount},
                            previousAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.prepaymentsAndAccruedIncome?.previousAmount}
                        )">
                        </div>

                        <div th:replace="fragments/review/balanceSheetValueRow :: balanceSheetValueRow (
                            description = 'Creditors - amounts falling due within one year',
                            identifier = 'creditors-due-within-one-year',
                            currentAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.creditorsDueWithinOneYear?.currentAmount},
                            previousAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.creditorsDueWithinOneYear?.previousAmount}
                        )">
                        </div>

                        <div th:replace="fragments/review/balanceSheetValueRow :: balanceSheetValueRow (
                            description = 'Net current assets (liabilities)',
                            identifier = 'net-current-assets',
                            currentAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.netCurrentAssets?.currentAmount},
                            previousAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.netCurrentAssets?.previousAmount}
                        )">
                        </div>

                        <div th:replace="fragments/review/balanceSheetValueRow :: balanceSheetValueRow (
                            description = 'Total assets less current liabilities',
                            identifier = 'total-assets-less-current-liabilities',
                            currentAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.totalAssetsLessCurrentLiabilities?.currentAmount},
                            previousAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.totalAssetsLessCurrentLiabilities?.previousAmount}
                        )">
                        </div>

                        <div th:replace="fragments/review/balanceSheetValueRow :: balanceSheetValueRow (
                            description = 'Creditors - amounts falling due after more than one year',
                            identifier = 'creditors-due-after-one-year',
                            currentAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.creditorsAfterOneYear?.currentAmount},
                            previousAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.creditorsAfterOneYear?.previousAmount}
                        )">
                        </div>

                        <div th:replace="fragments/review/balanceSheetValueRow :: balanceSheetValueRow (
                            description = 'Provision for liabilities',
                            identifier = 'provision-for-liabilities',
                            currentAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.provisionForLiabilities?.currentAmount},
                            previousAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.provisionForLiabilities?.previousAmount}
                        )">
                        </div>

                        <div th:replace="fragments/review/balanceSheetValueRow :: balanceSheetValueRow (
                            description = 'Accruals and deferred income',
                            identifier = 'accruals-and-deferred-income',
                            currentAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.accrualsAndDeferredIncome?.currentAmount},
                            previousAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.accrualsAndDeferredIncome?.previousAmount}
                        )">
                        </div>

                        <div th:replace="fragments/review/balanceSheetValueRow :: balanceSheetValueRow (
                            description = 'Total net assets (liabilities)',
                            identifier = 'total-net-assets',
                            currentAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.totalNetAssets?.currentAmount},
                            previousAmount = *{balanceSheet?.otherLiabilitiesOrAssets?.totalNetAssets?.previousAmount},
                            isTotalRow = true
                        )">
                        </div>

                    </th:block>

                    <!-- End Other Liabilities and Assets -->


                </dl>

                <!-- End Balance Sheet -->

                <div class="govuk-form-group">
                    <input id="next-button" class="govuk-button" type="submit" role="button" value="Continue"/>
                </div>

            </form>

        </div>

    </body>
</html>
