<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/baseLayout}">

<head>
  <title>Tangible fixed assets depreciation</title>
</head>

<div id="main-content" layout:fragment="content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="statements-form" class="form" th:action="@{''}"
            th:object="${tangibleDepreciationPolicy}"
            method="post">

        <div th:replace="~{fragments/globalErrors :: globalErrors}"></div>

        <div class="govuk-form-group"
             th:classappend="${#fields.hasErrors('hasTangibleDepreciationPolicySelected')} ? 'govuk-form-group--error' : ''">
          <div th:replace="fragments/inlineYesNoRadioButtons :: inlineYesNoRadioButtons (
              legendText = 'Do your prepared accounts include a \'tangible fixed assets depreciation\' policy?',
              boxLabelTextJavaScriptOn = 'Give details of your \'tangible fixed assets depreciation\' policy',
              boxLabelTextJavaScriptOff = 'If yes, enter your \'tangible fixed assets depreciation\' policy',
              radioButtonsFieldName = 'hasTangibleDepreciationPolicySelected',
              textBoxFieldName = 'tangibleDepreciationPolicyDetails',
              dataTargetTextFieldName = 'tangible-depreciation-policy-text-box',
              textAreaClassName = 'govuk-textarea'
              )">
          </div>
        </div>

        <input id="next-button" class="govuk-button piwik-event" data-event-id="Tangible depreciation policy - Save and continue" type="submit" role="button"
               value="Save and continue"/>
      </form>

    </div>
  </div>
</div>
</html>