<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title layout:title-pattern="$CONTENT_TITLE"></title>
  <div id="templateName" th:attr="data-id=${templateName}" hidden></div>

  <link
      th:href="@{{cdnUrl}/stylesheets/small-full-ch-accounts.css(cdnUrl=${@environment.getProperty('cdn.url')})}"
      media="all" rel="stylesheet" type="text/css" />

  <link
      rel="icon"
      th:href="@{{cdnUrl}/images/favicon.ico?0.17.3(cdnUrl=${@environment.getProperty('cdn.url')})}"
      type="image/x-icon" />

</head>
<body>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js" defer async ></script>
<script th:src="@{{cdnUrl}/javascripts/lib/company-accounts-web/details-polyfill.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
<script th:src="@{{cdnUrl}/javascripts/app/body-js-enable.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
<div class="entire-wrapper">
  <div class="govuk-width-container govuk-width-container-override">
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <header role="banner" id="global-header" class="govuk-header">
      <div class="govuk-header__container govuk-width-container govuk-width-container-override">
        <div class="header-global">
          <div class="govuk-header__logo">
            <a href="/" title="Go to the companies house homepage" id="logo" class="govuk-header__link govuk-header__link--homepage">
              <span class="govuk-header__logotype-text"> Companies House </span>
            </a>
          </div>
        </div>

        <div class="govuk-header__content">
          <a id="proposition-name" href="/" class="govuk-header__link govuk-header__link--service-name"> File your company accounts </a>
        </div>

      </div>
    </header>
    <div th:replace="fragments/betaBanner :: betaBanner"></div>
    <div th:replace="fragments/userBar :: userBar"></div>
    <div th:replace="fragments/backButtonLink :: backButtonLink"></div>
    <main id="content" role="main" class="govuk-main-wrapper">

<div id="tangible-assets-note-main-content" layout:fragment="content" class="two-column-accounts">

  <form id="tangible-assets-note-form" th:action="@{''}" th:object="${tangibleAssets}" class="form currency-included-within-inputs govuk-body" method="post">


    <div th:replace="fragments/globalErrors :: globalErrors"></div>

    <div th:replace="fragments/numberedHeading :: numberedHeading (
                    headingText = 'Tangible assets note'
                )">
    </div>

    <input th:field="*{lastAccountsPeriodEndOn}" type="hidden">
    <input th:field="*{nextAccountsPeriodStartOn}" type="hidden">
    <input th:field="*{nextAccountsPeriodEndOn}" type="hidden">

    <p class="warning-note warning-note-large">You only need to enter items included in your prepared accounts.</p>
    <h2 class="govuk-heading-m">Cost</h2>

    <div class="govuk-grid-row" id="accounts-header-cost">
      <div class="column-fifth">&nbsp;</div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Land &amp; buildings<!--<br />£--></h2>
      </div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Plant &amp; machinery<!--<br />£--></h2>
      </div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Fixtures &amp; fittings<!--<br />£--></h2>
      </div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Office equipment<!--<br />£--></h2>
      </div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Motor vehicles<!--<br />£--></h2>
      </div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Total<!--<br />£--></h2>
      </div>
    </div>


    <!--Start Cost at start-->
    <div class="govuk-grid-row accounts-row-spacer">
      <div class="column-fifth">
        <div th:text="'Cost at ' +${#temporals.format(tangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')}" id="cost.nextAccountsPeriodStartOn"></div>
        <span th:id="cost.nextAccountsPeriodStartOn-mobile-label" th:text="${#temporals.format(tangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')}" class="mobile-only-label"></span>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodStart.landAndBuildings',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodStart.plantAndMachinery',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodStart.fixturesAndFittings',
                                text = 'Cost Fixtures and Fittings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodStart.officeEquipment',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodStart.motorVehicles',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodStart.total',
                                text = 'Totals',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
    </div>
    <!--End Cost at start-->
    <!--Start Additions -->
    <div class="govuk-grid-row">
      <div class="column-fifth">
        <!--<details> <summary> <span class="summary">-->Additions
        <!--</span> </summary> <div class="panel panel-border-narrow"> <p> The cost of your tangible assets aquired during this accounting period. </p> </div> </details>-->
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.additions.landAndBuildings',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.additions.plantAndMachinery',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.additions.fixturesAndFittings',
                                text = 'Cost Fixtures and Fittings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.additions.officeEquipment',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.additions.motorVehicles',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.additions.total',
                                text = 'Totals',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
    </div>
    <!--End Additions-->
    <!--Start Disposals-->
    <div class="govuk-grid-row">
      <div class="column-fifth">
        <!--<details> <summary> <span class="summary">-->Disposals
        <!--</span> </summary> <div class="panel panel-border-narrow"> <p> The cost of tangible assets disposed of in this acccounting period. </p> </div> </details>-->
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.disposals.landAndBuildings',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.disposals.plantAndMachinery',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.disposals.fixturesAndFittings',
                                text = 'Cost Fixtures and Fittings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.disposals.officeEquipment',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.disposals.motorVehicles',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.disposals.total',
                                text = 'Totals',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
    </div>
    <!--End Disposals=-->
    <!--Start Revaluations-->
    <div class="govuk-grid-row">
      <div class="column-fifth">
        <!-- <details> <summary> <span class="summary">-->Revaluations
        <!--</span> </summary> <div class="panel panel-border-narrow"> <p> Valuation of any assets revalued during this accounting period. </p> <p> If the revaluation reduces the value of the asset, then enter a negative figure. </p> </div> </details>-->
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.revaluations.landAndBuildings',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.revaluations.plantAndMachinery',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.revaluations.fixturesAndFittings',
                                text = 'Cost Fixtures and Fittings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.revaluations.officeEquipment',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.revaluations.motorVehicles',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.revaluations.total',
                                text = 'Totals',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
    </div>
    <!--End Revaluations=-->
    <!--Start Transfers-->
    <div class="govuk-grid-row">
      <div class="column-fifth">
        <!--<details> <summary> <span class="summary">-->Transfers
        <!--</span> </summary> <div class="panel panel-border-narrow"> <p> The cost or valuation of any tangible assets that you've transferred during this accounting period. If the asset is being transferred out, enter a negative figure. </p> </div>
        </details>-->
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.transfers.landAndBuildings',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.transfers.plantAndMachinery',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.transfers.fixturesAndFittings',
                                text = 'Cost Fixtures and Fittings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.transfers.officeEquipment',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.transfers.motorVehicles',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.transfers.total',
                                text = 'Totals',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
    </div>
    <!--End Transfers-->
    <!--Start Cost at end-->
    <div class="govuk-grid-row accounts-total">
      <div class="column-fifth">
        <strong><div th:text="'Cost at ' +${#temporals.format(tangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')}" id="cost.nextAccountsPeriodEndOn"></div></strong>
        <span th:id="cost.nextAccountsPeriodEndOn-mobile-label" th:text="${#temporals.format(tangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')}" class="mobile-only-label"></span>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodEnd.landAndBuildings',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodEnd.plantAndMachinery',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodEnd.fixturesAndFittings',
                                text = 'Cost Fixtures and Fittings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodEnd.officeEquipment',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodEnd.motorVehicles',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'cost.atPeriodEnd.total',
                                text = 'Totals',
                                class= 'govuk-input',
                                )">
        </div>

      </div>


      <br>

    </div>

    <h2 class="govuk-heading-m">Depreciation</h2>

    <div class="govuk-grid-row" id="accounts-header-depreciation">
      <div class="column-fifth">&nbsp;</div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Land &amp; buildings<!--<br />£--></h2>
      </div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Plant &amp; machinery<!--<br />£--></h2>
      </div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Fixtures &amp; fittings<!--<br />£--></h2>
      </div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Office equipment<!--<br />£--></h2>
      </div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Motor vehicles<!--<br />£--></h2>
      </div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Total<!--<br />£--></h2>
      </div>
    </div>


    <!--Start Depreciation at start-->
    <div class="govuk-grid-row accounts-row-spacer">
      <div class="column-fifth">
        <div th:text="'Depreciation at ' +${#temporals.format(tangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')}" id="depreciation.nextAccountsPeriodStartOn"></div>
        <span th:id="depreciation.nextAccountsPeriodStartOn-mobile-label" th:text="${#temporals.format(tangibleAssets.nextAccountsPeriodStartOn, 'd MMMM yyyy')}" class="mobile-only-label"></span>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.atPeriodStart.landAndBuildings',
                                text = 'Depreciation Start Land and Buildings',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.atPeriodStart.plantAndMachinery',
                                text = 'Depreciation Start Land and Buildings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.atPeriodStart.fixturesAndFittings',
                                text = 'Depreciation Start Fixtures and Fittings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.atPeriodStart.officeEquipment',
                                text = 'Depreciation Start Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.atPeriodStart.motorVehicles',
                                text = 'Depreciation Start Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.atPeriodStart.total',
                                text = 'Depreciation Start Totals',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
    </div>
    <!--End Cost at start-->
    <!--Start Additions -->
    <div class="govuk-grid-row">
      <div class="column-fifth">
        <!--<details> <summary> <span class="summary">-->Charge for year
        <!--</span> </summary> <div class="panel panel-border-narrow"> <p> The cost of your tangible assets aquired during this accounting period. </p> </div> </details>-->
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.chargeForYear.landAndBuildings',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.chargeForYear.plantAndMachinery',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.chargeForYear.fixturesAndFittings',
                                text = 'Cost Fixtures and Fittings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.chargeForYear.officeEquipment',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.chargeForYear.motorVehicles',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.chargeForYear.total',
                                text = 'Totals',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
    </div>
    <!--End Additions-->
    <!--Start Disposals-->
    <div class="govuk-grid-row">
      <div class="column-fifth">
        <!--<details> <summary> <span class="summary">-->On disposals
        <!--</span> </summary> <div class="panel panel-border-narrow"> <p> The cost of tangible assets disposed of in this acccounting period. </p> </div> </details>-->
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.onDisposals.landAndBuildings',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.onDisposals.plantAndMachinery',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">
        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.onDisposals.fixturesAndFittings',
                                text = 'Cost Fixtures and Fittings',
                                class= 'govuk-input',
                                )">
        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.onDisposals.officeEquipment',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.onDisposals.motorVehicles',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>
      </div>
      <div class="column-sixth accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.onDisposals.total',
                                text = 'Totals',
                                class= 'govuk-input',
                                )">
        </div>
      </div>
    </div>
    <!--End Disposals=-->
    <!--Start Revaluations-->
    <div class="govuk-grid-row">
      <div class="column-fifth">
        <!-- <details> <summary> <span class="summary">-->Other adjustments
        <!--</span> </summary> <div class="panel panel-border-narrow"> <p> Valuation of any assets revalued during this accounting period. </p> <p> If the revaluation reduces the value of the asset, then enter a negative figure. </p> </div> </details>-->
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.otherAdjustments.landAndBuildings',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.otherAdjustments.plantAndMachinery',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.otherAdjustments.fixturesAndFittings',
                                text = 'Cost Fixtures and Fittings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.otherAdjustments.officeEquipment',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.otherAdjustments.motorVehicles',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.otherAdjustments.total',
                                text = 'Totals',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
    </div>
    <!--End Revaluations=-->
    <!--Start Cost at end-->
    <div class="govuk-grid-row accounts-total">
      <div class="column-fifth">
        <strong><div th:text="'Depreciation at ' +${#temporals.format(tangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')}" id="depreciation.nextAccountsPeriodEndOn"></div></strong>
        <span th:id="depreciation.nextAccountsPeriodEndOn-mobile-label" th:text="${#temporals.format(tangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')}" class="mobile-only-label"></span>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.atPeriodEnd.landAndBuildings',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.atPeriodEnd.plantAndMachinery',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.atPeriodEnd.fixturesAndFittings',
                                text = 'Cost Fixtures and Fittings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.atPeriodEnd.officeEquipment',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.atPeriodEnd.motorVehicles',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'depreciation.atPeriodEnd.total',
                                text = 'Totals',
                                class= 'govuk-input',
                                )">
        </div>

      </div>


      <br>

    </div>


    <h2 class="govuk-heading-m">Net book value</h2>

    <div class="govuk-grid-row" id="accounts-header-net-book-value">
      <div class="column-fifth">&nbsp;</div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Land &amp; buildings<!--<br />£--></h2>
      </div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Plant &amp; machinery<!--<br />£--></h2>
      </div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Fixtures &amp; fittings<!--<br />£--></h2>
      </div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Office equipment<!--<br />£--></h2>
      </div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Motor<br>vehicles<!--<br />£--></h2>
      </div>
      <div class="column-sixth">
        <h2 class="govuk-heading-s">Total<!--<br />£--></h2>
      </div>
    </div>

    <!--Net Book Value End-->
    <div class="govuk-grid-row accounts-total accounts-row-spacer">
      <div class="column-fifth">
        <strong><div th:text="'Net book value at ' +${#temporals.format(tangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')}" id="netBookValue.nextAccountsPeriodEndOn"></div></strong>
        <span th:id="netBookValue.nextAccountsPeriodEndOn-mobile-label" th:text="${#temporals.format(tangibleAssets.nextAccountsPeriodEndOn, 'd MMMM yyyy')}" class="mobile-only-label"></span>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.currentPeriod.landAndBuildings',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.currentPeriod.plantAndMachinery',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.currentPeriod.fixturesAndFittings',
                                text = 'Cost Fixtures and Fittings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.currentPeriod.officeEquipment',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.currentPeriod.motorVehicles',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.currentPeriod.total',
                                text = 'Totals',
                                class= 'govuk-input',
                                )">
        </div>

      </div>


      <br>

    </div>
    <!--Net Book Value Start-->
    <div class="govuk-grid-row accounts-total">
      <div class="column-fifth">
        <strong><div th:text="'Net book value at ' +${#temporals.format(tangibleAssets.lastAccountsPeriodEndOn, 'd MMMM yyyy')}" id="netBookValue.lastAccountsPeriodEndOn"></div></strong>
        <span th:id="netBookValue.lastAccountsPeriodEndOn-mobile-label" th:text="${#temporals.format(tangibleAssets.lastAccountsPeriodEndOn, 'd MMMM yyyy')}" class="mobile-only-label"></span>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.previousPeriod.landAndBuildings',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">

        </div>
      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.previousPeriod.plantAndMachinery',
                                text = 'Cost Land and Buildings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.previousPeriod.fixturesAndFittings',
                                text = 'Cost Fixtures and Fittings',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.previousPeriod.officeEquipment',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.previousPeriod.motorVehicles',
                                text = 'Cost Office Equipment',
                                class= 'govuk-input',
                                )">
        </div>

      </div>
      <div class="column-sixth accounts-total">
        <div th:replace="fragments/numberInput :: numberInput (
                                id = 'netBookValue.previousPeriod.total',
                                text = 'Totals',
                                class= 'govuk-input',
                                )">
        </div>

      </div>


      <br>

    </div>


    <div th:replace="fragments/additionalInformation :: additionalInformation (
                                id = 'additionalInformation',
                                dropDownText = 'Add additional information about your \'tangible assets\' note?',
                                helpText = 'Enter details of any other \'tangible assets\' information not already covered'
                                )">
    </div>

    <div class="form-group">
      <input id="next-button" class="govuk-button piwik-event" data-event-id="Tangible assets note - Save and continue" type="submit" role="button" value="Save and continue"/>
    </div>

  </form>
</div>
</main>
</div>
<div class="push"></div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script th:src="@{{cdnUrl}/javascripts/vendor/require.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
<script th:src="@{{cdnUrl}/javascripts/vendor/jquery-1.12.4.min.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
<script th:src="@{{cdnUrl}/javascripts/app/js-enable.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
<script th:src="@{{cdnUrl}/javascripts/app/radio-buttons.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
<script th:src="@{{cdnUrl}/javascripts/app/piwik-enable.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
<script th:src="@{{cdnUrl}/javascripts/lib/company-accounts-web/autocalculate-input-fields.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
<script th:src="@{{cdnUrl}/javascripts/lib/company-accounts-web/balancesheet-validation.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
<div th:replace="fragments/piwik :: piwik"></div>
</body>
</html>
