<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<div th:fragment="changesToAccountsBanner" class="govuk-notification-banner" role="region"
     aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner"
     data-govuk-notification-banner-init="">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Changes to accounts </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            From 1 April 2028, all companies must file their accounts using commercial software.</p>
        <p class="govuk-body">
            This applies to directors who file accounts themselves, and agents or accountants who file accounts for
            their clients. </p>
        <p class="govuk-body"> You will no longer be able to file accounts on paper or using our digital services. To
            prepare for the change, find out more about<a class="govuk-notification-banner__link"  rel="noreferrer noopener" target="_blank" href="#"> using
                software to file company information. (opens in new tab) </a>.</p>
    </div>
</div>

</body>
</html>
