<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>
    <body>
        <details th:fragment="dropDownHelp" role="group">
            <summary th:id="${id} + '-help-text-button'" role="button">
                <span class="summary" th:text=${title} th:id="${id} + '-help-text-title'"></span>
            </summary>

            <div class="panel panel-border-narrow">
                <p th:text=${text} th:id="${id} + '-help-text'"></p>
            </div>
        </details>
    </body>
</html>