<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title></title>
</head>
<body>
<div th:fragment="fieldError">
  <!--<span th:if="${!#fields.hasErrors('__${errorField}__')}" th:id="${errorField} + '-errorId'" class="govuk-error-message api"></span>
  <span th:if="${!#fields.hasErrors('__${errorField}__')}" class="spacer">&nbsp;</span>-->


  <label th:for="${errorField}">
    <span th:if="${!#fields.hasErrors('__${errorField}__')}" th:id="${errorField} + '-mobile-label'" th:text="${text}" class="mobile-only-label"></span>
    <span th:field="*{__${errorField}__}"
           th:id="${errorField}+'-errorId'"
           th:name="${errorField}+'-errorId'"
          class="govuk-error-message api"></span>
  </label>
</div>
</body>
</html>