<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title></title>
</head>
<body>
<fieldset class="govuk-fieldset" th:fragment="inlineYesNoRadioButtons">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      <span th:text=${legendText}></span>
    </h1>
  </legend>

  <span class="govuk-error-message"
        th:id="${radioButtonsFieldName} + '-errorId'"
        th:if="${#fields.hasErrors('__${radioButtonsFieldName}__')}"
        th:each="e : ${#fields.errors('__${radioButtonsFieldName}__')}" th:text="${e}">
            </span>

  <!-- Radio Buttons-->
  <div class="govuk-radios govuk-radios--inline" data-module="radios">

    <div class="govuk-radios__item">
      <input class="govuk-radios__input show-text"
             id="yesButton"
             type="radio"
             value="1"
             name="${radioButtonsFieldName}"
             th:field="*{__${radioButtonsFieldName}__}"
             th:errorclass="govuk-error-message"
             th:data-target-text-field="${dataTargetTextFieldName}"/>

      <label class="govuk-label govuk-radios__label" for="yesButton" id="yesButton-label">
        Yes
      </label>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input"
             id="noButton"
             type="radio"
             value="0"
             name="${radioButtonsFieldName}"
             th:field="*{__${radioButtonsFieldName}__}"
             th:errorclass="govuk-error-message"
             th:data-target-text-field="${dataTargetTextFieldName}"/>

      <label class="govuk-label govuk-radios__label" for="noButton" id="noButton-label">
        No
      </label>
    </div>
  </div>

  <!-- Text Box Field -->
  <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
       th:id="${dataTargetTextFieldName}">

    <div class="govuk-form-group"
         th:classappend="${#fields.hasErrors('__${textBoxFieldName}__')} ? 'govuk-form-group--error' : ''">

      <span class="govuk-error-message"
            th:id="${textBoxFieldName} + '-errorId'"
            th:if="${#fields.hasErrors('__${textBoxFieldName}__')}"
            th:each="e : ${#fields.errors('__${textBoxFieldName}__')}" th:text="${e}">
      </span>

      <label class="govuk-label" th:id="${textBoxFieldName} + '-label'"
             th:for="${textBoxFieldName}"
             th:if="${boxLabelText != null}" th:text="${boxLabelText}">
      </label>

      <textarea th:class="${textAreaClassName}"
                th:id="${textBoxFieldName}"
                name="${textBoxFieldName}"
                rows="5"
                th:field="*{__${textBoxFieldName}__}"
                th:errorclass="govuk-error-message">
      </textarea>

    </div>
  </div>

</fieldset>
</body>
</html>