<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>
    <body>
        <div th:fragment="numberInput" class="govuk-form-group">
            <span th:if="${isEmployees != true}" class="currency-type cya-desktop-only">£</span>
            <label th:for="${id}" class="label-column-flex">
                <span th:id="${id} + '-mobile-label'" th:text="${text}" class="mobile-only-label"></span>
                <input th:field="*{__${id}__}"
                     th:id="${id}"
                     th:name="${id}"
                       th:class="${class}"
                     type="text">
            </label>
        </div>
    </body>
</html>