<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">
<head>
  <title>Do you want to pay the filing fee now?</title>
</head>

<body>
<div id="main-content" layout:fragment="content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="payFilingFee-form" class="form" th:object="${payFilingFeeChoice}" th:action="@{''}" method="post">

        <div th:replace="~{fragments/globalErrors :: globalErrors}"></div>

        <h1 id="page-title" class="govuk-heading-l">
          Do you want to pay the filing fee now?
        </h1>
        <p id="payFilingFee-info-text">Payment for this filing was not completed. Your filing has not been submitted.</p>

        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('payFilingFeeChoice')} ? 'govuk-form-group--error' : ''">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-visually-hidden">Do you want to pay the filing fee now?</legend>

            <span class="govuk-error-message"
                  id="payFilingFeeChoice-errorId"
                  th:if="${#fields.hasErrors('payFilingFeeChoice')}"
                  th:each="e : ${#fields.errors('payFilingFeeChoice')}" th:text="${e}" >
                            </span>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input id="yesButton"
                       type="radio"
                       value="1"
                       th:field="*{payFilingFeeChoice}"
                       th:errorclass="govuk-error-message"
                       class="govuk-radios__input piwik-event" data-event-id="Yes"/>
                <label class="govuk-label govuk-radios__label" for="yesButton" id="yesButton-label">
                  Yes - pay now
                </label>
              </div>

              <div class="govuk-radios__item">
                <input id="noButton"
                       type="radio"
                       value="0"
                       th:field="*{payFilingFeeChoice}"
                       th:errorclass="govuk-error-message"
                       class="govuk-radios__input piwik-event" data-event-id="No"/>
                <label class="govuk-label govuk-radios__label" for="noButton" id="noButton-label">
                  No - I'll pay and submit later
                </label>
              </div>

            </div>
          </fieldset>
        </div>

        <button id="next-button" type="submit" class="govuk-button piwik-event" data-event-id="Pay filing fee - Save and continue">
          Continue
        </button>
      </form>
    </div>
  </div>
</div>
</body>

</html>