<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
  <title>You’re about to start filing your accounts</title>
</head>
<body>
<div id="main-content" layout:fragment="content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="criteria-form" th:action="${dormantAccountsUri}" class="form" method="get">
         <header>
          <h1 id="page-title" class="govuk-heading-l">
            File dormant accounts with Companies House
          </h1>
        </header>

        <h2 class="govuk-heading-m" id="criteria-sub-heading">Criteria</h2>
        <div class="panel panel-border-wide" id="criteria-text">
          <p>These accounts are suitable for companies limited by shares or by guarantee that have never traded.</p>
        </div>
        <div class="govuk-form-group">
          <input id="continue-button" class="govuk-button piwik-event" data-event-id="Dormant criteria - Save and continue" type="submit" role="button" value="Continue"/>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>