<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
  <title>File your annual CIC report and accounts</title>
</head>

<body>
  <div id="main-content" layout:fragment="content">
    <main id="page-container" role="main">
      <form id="cicBeforeYouStart-form" th:action="@{''}" class="form" method="post">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="text">

              <div th:replace="~{fragments/numberedHeading :: numberedHeading (
                    headingText = 'File your annual CIC report and full accounts')}">
              </div>

              <p id="cicBeforeYouStart-use-this-service">Use this service to file your annual CIC report and full accounts with Companies House.</p>
              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong id="cicBeforeYouStart-accounts-appear-online" class="govuk-warning-text__text">Your filed CIC report and accounts will appear on the online public record.</strong>
              </div>

              <p>For now, you can only file full CIC accounts online. You cannot file:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>dormant company accounts</li>
                <li>micro-entity accounts</li>
                <li>abridged accounts</li>
              </ul>
              <p>You'll need to file these types of accounts on paper instead.</p>

              <h2 id="page-sub-heading" class="govuk-heading-m">Before you start</h2>

              <p id="cicBeforeYouStart-accounts-must-get-approved">You must get your full accounts approved by your company directors before you file them.</p>
              <p>You'll need:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>to sign in to or create a Companies House account</li>
                <li>the company number</li>
                <li>the <a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing">company authentication code</a></li> 
                <li>to pay the £15 fee using a debit or credit card</li> 
              </ul>
              <p id="cicBeforeYouStart-guidance">Read 
                <a id="cicBeforeYouStart-guidance-link" href="https://www.gov.uk/prepare-file-annual-accounts-for-limited-company">guidance about what your annual accounts should include</a>.</p>
              <p id="cicBeforeYouStart-completed-report-example">See a
                <a id="cicBeforeYouStart-report-link" href="https://www.gov.uk/government/publications/form-cic34-community-interest-company-report">completed example of a CIC report</a>.</p>
              <p id="cicBeforeYouStart-contact-companies-house">
                <a id="cicBeforeYouStart-contact-link" href="https://www.gov.uk/contact-companies-house">Contact Companies House</a>
                if you need help filing your CIC's full accounts online.</p>
              <input id="next-button" class="govuk-button" type="submit" role="button" value="Start now"/>
            </div>
          </div>
        </div>
      </form>
    </main>
  </div>
</body>

</html>