<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">
<head>
    <title>How to file your CIC report and accounts on paper</title>
</head>
<body>
<div id="lookup-main-content" layout:fragment="content">
<div class="govuk-width-container">
    <div class="interruption-card interruption-paper">
        <header>
            <h1 class="govuk-heading-l">How to file your CIC report and accounts on paper</h1>
        </header>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <ul class="govuk-list">
                    <li>
                        <span class="circle-step-white">1</span><h2 class="govuk-heading-m">
                            <a href="https://www.gov.uk/annual-accounts" class="piwik-event"
                               data-event-id="How to file your CIC report prepare link">Prepare your accounts</a></h2>
                    </li>
                    <li>
                        <span class="circle-step-white">2</span><h2 class="govuk-heading-m">Complete a
                            <a href="https://www.gov.uk/government/publications/form-cic34-community-interest-company-report"
                               class="piwik-event" data-event-id="How to file your CIC report paper link">paper CIC report</a>
                            made up to the same date as the accounts</h2>
                    </li>
                    <li>
                        <span class="circle-step-white">3</span><h2 class="govuk-heading-m">Post both items to
                            <a href="https://www.gov.uk/government/organisations/companies-house/about/access-and-opening"
                              class="piwik-event" data-event-id="How to file your CIC report by post link">the Registrar of Companies</a>, with a cheque for £15 made payable to Companies House</h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>