<!DOCTYPE html>

<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/baseLayout}">

<head>
  <title id="page-title-heading">
    Give details of any transfer of assets other than for full consideration
  </title>
</head>
<body>
<div id="main-content" layout:fragment="content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="transferOfAssets-form" class="form" th:action="@{''}"
            th:object="${transferOfAssets}" method="post">


        <div th:replace="~{fragments/textAreaWithHelpAndHeadings :: textAreaWithHelpAndHeadings (
                                heading = 'Give details of any transfer of assets other than for full consideration',
                                helpText = 'See an example',
                                dropDownText = '<p>There was a transfer to a local community group of £100 to purchase a laptop.</p>',
                                field = 'transferOfAssets'
                                )}">

        </div>

        <input id="next-button" class="govuk-button piwik-event" type="submit" role="button"
               data-event-id="Save CIC transfer of assets information" value="Save and continue"/>

      </form>
    </div>
  </div>
</div>
</body>
</html>




